[2014-01-16 14:08] bajtos opened #2 "Initial implementation [PROPOSAL]"
**NOTE: The text below describes a proposal of what we are intending to implement. The functionality is not available yet.**
## Introduction

The LoopBack Angular SDK gives front-end developers a set of Angular services to access the models and the shared methods exposed by their LoopBack server.
### Expectations

The SDK should use existing Angular tools for talking to REST services, i.e. [ngReso

[2014-01-30 23:28] seanbrookes opened #8 "urlBase configuration"
OOTB the urlBase value in lb-services.js doesn't work on iPhone b/c it's a relative url.
You can manually edit it in the generated output file so that it works:

eg
from:

[code]

to

[code]

 but it might be better if by default it picked up the baseUrl property from app.js as this would likely wrk out of the box in most cases.

[2014-01-31 09:37] bajtos opened #9 "Persisted accessToken"
The initial implementation of the Loopback Angular SDK does not provide support for persistence of accessToken.

Stories - user centric:
- As a user of LB-powered web app, I want to decide on login whether the access token should be persisted ("Remember Me" checkbox).
- As a user of LB-powered Cordova app, I want the app to remember my credentials across app restarts ("Remember Me" is always on).

[2014-02-05 19:31] #2 closed, assigned to nobody

[2014-02-06 07:29] #9 closed, assigned to nobody

[2014-02-21 11:04] Cadrach opened #21 "Error running grunt plugin: Cannot call method 'toLowerCase' of undefined (ejs:99)"
Hi,

I am trying to setup up loopback-angular for my project, and getting an error. I tried setting it up with the sls-sample-app: https://github.com/strongloop/sls-sample-app, but I'm getting the same error.

When running grunt from the command line:

[code]

And here is my GruntFile (not even running docular):

[code]

I am a bit new to Grunt so maybe I am doing something wrong? Also, the exampl

[2014-02-21 17:38] #21 closed, assigned to nobody

[2014-02-24 15:37] abbasmousavi opened #22 "Supporting files and containers (loopback-component-storage)"
Does javascript  support files and containers like iOS and android clients?

[2014-03-02 05:44] seanbrookes opened #23 "geting Error: Cannot find module 'semver' after updating and upgrading slc"
I recently installed the latest slc via npm install and then installed the angular cli sdk now when I try to run lb-ng command to generate lb-services.js I get the following error:

[code]

[2014-03-03 17:03] Cadrach opened #24 "Share method source code between angular service and loopback server"
Hi,

This really is an open question, I am currently having some business logic that I would like to use client side (for display purpose or "show before saving" purpose), and the same business logic would be used server side on the same loopback model instances; for validation / testing purpose.

What I would love to have, is some method available on my Loopback model instances, and have the same

[2014-03-04 18:31] #23 closed, assigned to nobody

[2014-03-21 17:43] pandaiolo opened #26 "Issue with related models export"
There is a problem with how relations are dealt with in current impementation of this module.

I feel like relations are not really supported, but if this is the case, they should not be exported.

For example, currently, a related object endpoint will result in lbServices blocks like the following :

[code]

This is nice because a collection related products can be pulled out without requiring tw

[2014-04-04 12:36] Cadrach opened #30 "Implement "Add" method for hasAndBelongsToMany and hasMany through"
Hi,

Unless I am mistaken, there is currently no method exposed on the generated services to "link" 2 existing model instances. For example provided model Product and Category with:

[code]

I can only create a model using the service, but I cannot link a product to an existing category (and the reverse too)

[2014-04-07 14:43] #26 closed, assigned to nobody

[2014-04-09 06:36] #8 closed, assigned to nobody

[2014-04-09 08:25] bajtos opened #35 "Reduce the size of the generated file"
See the Google Group [discussion](https://groups.google.com/d/msg/loopbackjs/9mPNyGoIuwM/kFRSaG6f-JAJ) for background.

At the moment the generated code contains a lot of duplicated strings. Take the built-in AccessToken model as an example

[code]

The code size could be easily reduced by introducing two extra variables and using them instead of `urlBase`:

[code]

[2014-04-10 11:30] Surender246 opened #36 "Filters On LoopBack API's on Date Field"
Am trying to apply filter on date field on api's URL with greater than current date or less than current date or equal to current date.Please help me how to use filters on date field because i want to display only those fields using filter.Am attaching a screenshot of using the filter which gives me the error.
![errordate](https://cloud.githubusercontent.com/assets/6521334/2666751/fea9be46-c0a2-11

[2014-04-10 11:35] #36 closed, assigned to nobody

[2014-04-22 04:28] Surender246 opened #38 "Google Maps"
Hi am new to Angular.js i want to integrate Google maps in my application but was not successful. Even i searched on internet but i dint find any helpful examples on how to use Google maps in angular. please help me on how to use Google maps in Angular application.thanks in advance

[2014-04-22 04:34] Surender246 opened #39 "Auto Logout after a specific interval of time."
Hi i have a Login page for my application by which user access rest of the pages by logging in but i want that user to logout automatically if there is no action from the user for a specific interval of time.how to achieve this in angular. thanks in advance.

[2014-04-22 12:51] rav30 opened #40 "googlemaps in angularjs"
Hi.. I am new to angular.js. just i want to built a simple angular.js application which include google maps. I searched the recent issues and i fond an issue with google maps but it was not helpful as it contains no repo link. plz help me on how to integrate google maps in angular.js
thanks in advance

[2014-04-22 13:07] #40 closed, assigned to nobody

[2014-04-22 17:29] rav30 opened #41 "source file missing"
hi... I have installed generator in angular.js and used the source file. After the execution of the project, source file is missing.whenever i execute the project this problem occurs. Plz help me with this problem.
thanks in advance

[2014-04-23 09:21] #41 closed, assigned to nobody

[2014-04-24 04:18] #38 closed, assigned to nobody

[2014-04-26 18:09] Rikhart opened #42 "Fails call $prototype$__get__snippeds() with TypeError: undefined is not a function"
I am playing with loopback an on the back-end I have defined a relationship of:
User has many snippeds the problem at the moment is to get the snippeds from the client, this is my scenario:

First get the current user with : User.getCurrent(function (user) {
           //Now when i trying get the snnippes from the user:
           user.$prototype$__get__snippeds()
})
That make the request to the s

[2014-04-30 14:40] Surender246 opened #43 "Google Maps"
Hi, am integrating google maps in my angular.js web application when i try to run this its showing me the following error.how to resolve this error thanks in advance.
![maps](https://cloud.githubusercontent.com/assets/6521334/2842488/4d7d191e-d075-11e3-9e4a-637b2ce83412.JPG)

[2014-05-02 04:52] #43 closed, assigned to nobody

[2014-05-14 11:08] BradleyFord opened #44 "User password is set to NULL after any User profile updates"
Currently we are experiencing some problems with the Angular SDK.

We are using the User model (with some additional fields); any time we update any details about the user such as First name, Last name, Position, etc the password is set to NULL. (MongoDB)

[code]

updateOrCreate was also tried with the same results

[code]

But if we switch the User.upsert to a HTTP.put request we do not experienc

[2014-05-14 11:48] Surender246 opened #45 "Image Storage"
Hi, am designing a page for promotion in which user uploads a picture of the promotion and i want to retrieve that picture when user opens that particular promotion now i want to store that picture so that it can be retrieved when user desires.But i don't want to store in my DB. What is the best place to store the images in case of angular so that they can be retrieved when user clicks on particul

[2014-05-14 15:22] #45 closed, assigned to nobody

[2014-05-14 15:51] #44 closed, assigned to nobody

[2014-05-14 17:39] #42 closed, assigned to nobody

[2014-05-16 08:46] pandaiolo opened #46 "Documentation generated for updateOrCreate / upsert is incorrect"
There is an error in the methods documentation generated, example with model User :

[code]

If a "subset" of model properties are provided, the others properties will get deleted from instance in database. The "upsert" method is the same API endpoint, with same results.

This is what happens with the `passsword` property, as it is not returned by the REST API by default

So, instead of using :

[

[2014-05-26 01:34] pbrain19 opened #47 "Doc: how to pass filter/where argument to `find` and `findOne`"
SDK seems to forget to put the filter= before the where clause of any search. Also findOne expects array rather than object.

[2014-05-26 07:41] kinhunt opened #48 "Example of getting hasMany related objects"
What's the correct way to get the related objects of a user in angularjs client?

On the server, User model hasMany books. Angularjs client is generated correctly. How to get books of a particular user?

I've tried
User.books() // not working
var user = new User(AppAuth.currentUser); user.books() //not working

Thanks,

[2014-05-28 07:29] bajtos opened #49 "Improve documentation"
This issue collects pointers to questions that should be answered by our docs ([AngularJS JavaScript SDK](http://docs.strongloop.com/display/LB/AngularJS+JavaScript+SDK)).
- [x] how to build complex queries: [mailing list](https://groups.google.com/forum/#!topic/loopbackjs/VmUCR3PhJKw), #47
- [x] [accessing related models](https://github.com/strongloop/loopback-angular/issues/48)
- [x] [deleting r

[2014-06-14 04:23] Rikhart opened #50 "Distinct query ?"
How do you select distinct records in MongoDB? through loopback-angular.
Suppose I have a collection with  documents:

{
          name:"Jhon",
          age:12
},
{
           name:"Ben",
           age:14
},{
          name:"Robert",
          age:14
},{
          name:"Luis",
          age:12
}

I would like to get the distinct ages from all my documents. in this case return only 12,14

[2014-06-27 17:05] #46 closed, assigned to nobody

[2014-06-30 05:48] BerkeleyTrue opened #51 "upsert method on resource undefined"
I have a model instance I am trying to call the $save method on. I get the following error.
`TypeError: Cannot read property 'call' of undefined at f.module.factory.config.factory.factory.resource.$save`

Seems to stem from here in the services.template file, as upsert is never defined anywhere here. I can't seem to find upsert anywhere else. Where exactly is this supposed to be defined?

I have a

[2014-07-01 17:46] #50 closed, assigned to nobody

[2014-07-03 14:55] #51 closed, assigned to nobody

[2014-07-12 19:54] mh9ssf2g opened #55 "Uncaught object angular.js:78"
We have tried a new project with the loopback-angular-SDK.

We keep getting this error when adding   'lbServices' to the main app

Any Ideas?

[2014-07-23 18:43] #30 closed, assigned to nobody

[2014-07-24 08:51] bajtos opened #56 "Support custom `User` model"
At the moment, the authentication code depends on `User` model to be present. However, it's perfectly valid to use a different model in the loopback application, e.g. `Customer` extending `User`.

We need to improve the code generator to support arbitrary user model.

[2014-07-24 16:40] #48 closed, assigned to nobody

[2014-07-24 18:14] #56 closed, assigned to nobody

[2014-07-26 09:29] mpuig opened #59 "User model"
I've been testing the loopback angular SDK for LB20, and when I generate the lb-services.js, it doesn't create the _User_ section code as it should be. The consequence is that the authentication doesn't work because the getCurrent() method isn't defined.

The _User_ model is defined in model-config.json as:

"User": {
    "dataSource": "mongodb_dev"
}

In loopback-sdk-angular/lib/services.js, line

[2014-08-07 18:27] paulomcnally opened #60 "set urlBase with another javascript file"
How to set urlBase with other var?

api.js is generated based on environment (http://client.site.com/js/api.js)
api.js

[code]

lb-services.js is generated vía loopback-sdk-angular (http://client.site.com/js/lb-services.js)
lb-services.js

[code]

[2014-08-07 19:29] cajoy opened #61 "Logout should clear local and session storage"
Regardless of rememberMe flag - User logout should clear local storage and session storage. Not just one of them

[2014-08-07 19:32] cajoy opened #62 "Logout with incorrect access token"
I don't know why but sometimes logout request failed with 500.

Interceptor should log-out user on all 500 logout requests. Sometimes it happen with incorrect access token

[2014-08-07 20:04] #60 closed, assigned to nobody

[2014-08-18 01:42] SSchaaf opened #63 "getCurrent url"
getCurrent url is not ok.

https://github.com/strongloop/loopback-sdk-angular/blob/master/lib/services.template#L111

[code]
need to be

[code]

[2014-08-19 15:40] gopidon opened #64 "Loopback SDK Angular documentation is absent"
Hi,

http://apidocs.strongloop.com/ doesn't have any documentation for this. Its very much needed for beginners. In fact the api is a bit confusing on the client side and doesn't mirror the server api completely. Hence good documentation is needed.

[2014-08-21 10:31] tsertkov opened #67 "Delete auth tokens in local/session storage"
Is there any special reason setting auth items in local/session storage to empty strings instead of removing them?

```storage.removeItem(key)``` vs ```storage[key] = ''```

[2014-08-23 03:26] enshjiang opened #69 "loopback sdk generate for ember-data"
https://github.com/enshjiang/loopback-ember-generate

Is this thinking right？

[2014-08-29 12:04] bajtos opened #70 "$save does not update `id` property on create"
When the model has auto-generated `id` property, this property should be updated by `$save`.

[code]

[2014-09-02 14:17] PeterClough opened #71 "extending User"
This post https://groups.google.com/forum/#!topic/loopbackjs/sFJo_CYCoY8 explains everything in more detail but basically I tried to extend User with user as Raymond says you should be able to do. loopback-sdk-angular builds 2 titlecase User factories not 1 titlecase and 1 lower.

[2014-09-02 16:28] #71 closed, assigned to nobody

[2014-09-03 13:29] cajoy opened #72 "Inject urlBase"
Can I somehow inject urlBase from other script? It is generated automatically by grunt file.

But I want to generate base script/service. And inject url based on website environment.

[2014-09-04 17:57] cajoy opened #73 "Strings must use singlequote"
I have jshint enabled and it always complain to generated code:

[code]

Can SDK generate singlequotes? It seems like standard everywhere..

[2014-09-08 20:55] frankcarey opened #74 "Support for loopback-component-passport"
Trying to use the additional methods for 3rd party login. The generator doesn't seem to pick up on those endpoints/callbacks? (nor does loopback explorer for that matter)

What would be the best way to add / alter login to handle this?

[2014-09-10 21:32] #47 closed, assigned to nobody

[2014-09-12 17:08] #59 closed, assigned to bajtos

[2014-09-17 17:20] #73 closed, assigned to nobody

[2014-09-18 06:25] adagio opened #76 "services.template.ejs hardcodes "lbServices" instead of using moduleName tag"
When doing

[code]

generated **services.js** file contains "lbServices" string where indicated module name is expected.

In **AngularJS JavaScript SDK**, we can find that ngModuleName is the [option](http://docs.strongloop.com/display/LB/AngularJS+JavaScript+SDK#AngularJSJavaScriptSDK-Options) to set a name for the services file to be generated.

I have tracke the code for this issue and the deta

[2014-09-23 01:11] BerkeleyTrue opened #78 "link method not attaching fk to url, failing to create relationship"
using loopback-sdk-angular 1.2.2
loopback: 1.10.0

VendorOrder hasAndBelongsToMany Part and vice versa.

Trying to build a relationship between two existing models.

[code]

Request URL generated: http://localhost:9000/api/vendorOrders/abc/part/rel

Request payload: { id: 'abc', fk: '123' }.

Adding a relationship from loopback-explorer works fine. Seems that $resource is not attaching fk to the u

[2014-09-25 01:31] albertwchang opened #80 "Missing parameters from API response results"
When submitting API requests using JSON query parameters, through lb-services generated service or $http.get(), my returned results inconsistently include required nested objects.  However, when using CURL or performing a raw REST API request without $http ,the required object properties consistently return.

See both scenarios below.  In the images below, `Green` boxes represent results WITH requ

[2014-09-29 07:34] #76 closed, assigned to nobody

[2014-09-29 14:57] frankcarey opened #82 "Consider using Restangular instead of $resource or make it better."
The generated Angular lb-services.js has rather a lot of boiler plate code because it uses $resource. I'm a fan of restangular for a restful client and decided to use that instead of the objects from lbServices, though I still use LoopbackAuth and the LoopBackAuthRequestInterceptor for now to handle the Auth part. It would be nice if that stuff were maybe split off into a standard component (since

[2014-09-30 08:57] #72 closed, assigned to nobody

[2014-09-30 11:53] bajtos opened #83 "Isomorphic AngularJS SDK for LoopBack [proposal]"
# Isomorphic AngularJS SDK for LoopBack

Isomorphic AngularJS SDK provides AngularJS wrapper for browserified LoopBack
models.
## 1. Promisify callback-based methods

**Edit 2014-09-30 It may be better to promisify loopback and loopback-datasource-juggler, so that the promise-based API is available both at the client and the server. See https://github.com/strongloop/loopback-datasource-juggler/iss

[2014-09-30 12:05] #82 closed, assigned to nobody

[2014-10-05 20:00] gyss opened #86 "Is User.isAuthenticated() working correctly?"
Hi,
I have a test() function that prints the result of the User.isAuthenticated() function.
The first time I run the server and open the browser this function is printing "true". When I log in and log out with a example user I call test() again and prints to me "false", it works ok.
Why the first call of User.isAuthenticated() is returning "true"? I am doing something wrong?

Note: I thought It co

[2014-10-07 09:29] #86 closed, assigned to nobody

[2014-10-16 23:16] crandmck opened #87 "Create default LoopBack API docs for AngularJS SDK"
We have API docs for our iOS and Android SDKs, but not for Angular.  This would help to explain how one uses the standard built-in models via Angular.

It should be relatively simple to create a simple example project and generate Angular client and docs using the CLI.  Then we could also add some JSdoc comments, and add the module to the api docs site repos.json.  Might need to do some tweaks bec

[2014-10-16 23:46] #64 closed, assigned to nobody

[2014-10-19 05:47] demisx opened #88 "Gulp.js support"
Are there any plans to support generation of `gulp` tasks in addition to Grunt?

[2014-10-20 14:30] #88 closed, assigned to nobody

[2014-10-22 10:11] pandaiolo opened #89 "id field always named `id` in generated resources, event for non-standard id names"
When configuring model with specific id field (not `id`), angular resources still expect `id` property to contain id :

[code]

My `Member` model id field is actually named `username`, which makes this confusing because sometimes `id` must be used and some other time `username` (when it's not an angular resource expected id field)

_Note : additionally, the above resources is used by calling `Memb

[2014-10-24 09:14] ru108 opened #92 "lb-services.js in IE8 not work, trailing comma"
sample:
[code]
need:
[code]

[2014-10-27 10:46] bajtos opened #93 "Spike: AngularJS 1.3 support"
On 2014-10-14, a new minor version of Angular was released: 1.3.0. We should update our SDK to be compatible with this new version.

Tasks:
- [ ] Run the test suite against angular 1.3.
- [ ] Identify things that not work.
- [ ] Fix small problems immediately.
- [ ] Schedule follow-up user-stories to fix the rest.

Related reading:
- http://angularjs.blogspot.cz/2014/10/angularjs-130-superluminal-

[2014-10-28 23:24] #87 closed, assigned to crandmck

[2014-10-30 12:34] Surender246 opened #97 "neq[Not equal (!=)] is not working properly"
Hi all,

I want to get the data whose "completeflag" is not equal to null.For this am using the following query.

"/api/v1/orderdetails?filter[where][completeflag][neq]=null" but i got following response

![capture](https://cloud.githubusercontent.com/assets/6521334/4843281/33dc7c48-6030-11e4-9495-2f9d1080343a.JPG)

which i noticed is that the response data is for whose "completeflag" is null, But

[2014-10-30 20:42] #49 closed, assigned to crandmck

[2014-11-01 14:29] Morriz opened #99 "service results are incompatible with angular view"
It is now not possible for an angular view to resolve the result of an lb-service call.
So I tried to use .$promise, but that also doesn't work.

Are there any plans to make it so? Or is that too big a deal?

[2014-11-01 14:37] #99 closed, assigned to nobody

[2014-11-04 14:04] palra opened #101 "Update cached user on login [proposal]"
Currently, the current user is cached only on a `User.getCurrent()` request (that had a bug, fixed here : #100). Should the user be cached on `User.login()` ? It makes more sense, according to me.

[2014-11-04 22:39] skyserpent opened #102 "Docular JS index.html file returns blank"
When I run the Docular task, it generates the directories but in the generated directory there's an index.html file which gives blank white screen when I run it - although there's markup in it. Why is that?

[2014-11-05 16:31] psi-4ward opened #103 "User.login dont use LoopBackAuth"
My `lb-services.js` only contains a

[code]

but missing the interceptor stuff to persistent the auth token

[2014-11-05 19:58] #103 closed, assigned to nobody

[2014-11-06 07:38] #101 closed, assigned to nobody

[2014-11-12 17:37] Morriz opened #106 "loopback-angular should not require database connection"
I don't know why it's needed, but the generation phase needs a db connection.

Can this be made so that it doesn't?

TIA :)

[2014-11-13 15:21] cajoy opened #107 "Loopback oAuth2"
What is the best way to integrate oAuth2 tokens with Loopback Angular SDK?

[2014-11-14 17:06] #61 closed, assigned to nobody

[2014-11-14 22:27] anthonyettinger opened #108 "sdk generator needs an option to set the namespace"
Right now, the angular sdk assumes that the namespace is always going to be `lbServices`:

[code]

The problem @ritch and I are facing is we are generating multiple sdks for strong-arc and we need to define a separate namespace for this. Something like `var module = angular.module("lbBuild", []);` otherwise it overwrites the other `lb-services.js file's namespace when I generate the`lb-build.js` f

[2014-11-17 16:13] #108 closed, assigned to bajtos

[2014-11-21 04:05] clark0x opened #111 "`$prototype$updateAttributes` doesn't PUT changed properties but the whole instance"
How to do a partial update?

[2014-11-23 09:00] temp3l opened #112 "destroyById with undefined fk:ID issues destroyAll"
User.products.destroyById({id:1, fk:undefined});
and
User.products.destroyAll({id:1})

both send DELETE to /api/users/1/products

[2014-11-28 12:43] #107 closed, assigned to nobody

[2014-11-28 12:47] #111 closed, assigned to nobody

[2014-12-02 15:56] jkernech opened #113 "Add an option to control the models that will be generated"
It would be nice to have an option that allows to choose (include or exclude) which models will be generated.

[2014-12-07 05:41] #112 closed, assigned to nobody

[2014-12-08 16:08] bajtos opened #114 "lint the generated code"
Add a unit-test to run a linter (jshint, possibly also jscs) against the generated code.

[2014-12-15 13:24] clarkorz opened #115 "lb-ng fails for nestRemoting"
[code]

`Model.nestRemoting()` will create remote methods like `prototype.__findById__products__reviews`, but it doesn't create scope `products__reviews`.

[2014-12-31 16:34] slawo opened #116 "thenable functions (promise?)"
Would id be possible to generate thenable functions for the models and instances instead of relying on callbacks?

The issue is not with callbacks but with the fact that most libraries written for angular expect promises or some any sort of thenable objects when passing data around.

Do you have any intention to add this type of compatibility?

[2014-12-31 17:11] slawo opened #117 "Accessing all models from a directive/controller"
Is there a way to access to all models through a special object containing all providers Instead of having to name each resource by name in the parameters. I have a few directives which should be able to retrieve data from a model depending on a parameter (modelName). These directives need to access to a model object containing all the individual models.
Is there a way to achieve this with the cur

[2015-01-01 16:29] #116 closed

[2015-01-05 11:10] bajtos commented on #74
There are no updates so far, we still need to implement support for cookie-based authentication in loopback-sdk-angular, including support for signed cookies.

[2015-01-05 15:10] bajtos commented on #22
Related: https://groups.google.com/forum/#!topic/loopbackjs/sjs_kt07LSw

[2015-01-06 07:34] bajtos commented on #92
This was fixed in #109 and released in `loopback-sdk-angular@1.3.7`

[2015-01-06 07:34] #92 closed

[2015-01-07 20:44] brunoporto opened #118 "LoopBackAuth.rememberMe is not maintained after reloading page"
When you logIn with rememberMe =  true, and refresh page you lose that true causing the script
https://github.com/strongloop/loopback-sdk-angular/blob/71e24c656c0f4b303cb897e77a8ef6471001af74/lib/services.template.ejs#L269

always try to clear the "sessionStorage", so you must also save the rememberMe in any of the storage so it can be recovered.

To test do the issue:
- Log in to remember = true

[2015-01-07 20:52] nolandubeau commented on #118
I just verified this as well using the latest version of strongloop and the angular generated services.  I did a fresh install today.

[2015-01-12 20:44] alexxgathp opened #119 "$save not working with foreign key to user table when include is done on previous GET."
**The Problem**: For some reason, under the following conditions, a foreign key attribute linking to the user table's user id does not update when using $save in a function linked to a button.
Using Mozilla Firebug, I am not getting any error response. However, if the button running the "release" function, which is setting the user id value to null in the "reservedby" attribute, is pressed twice i

[2015-01-12 22:49] superkhau commented on #119
@alexxgathp Thanks for the report. Will try to reproduce.

[2015-01-13 18:36] bajtos commented on #116
We are generating model classes based on ngResource which already supports promises OOTB. See the official Angular [documentation](https://docs.angularjs.org/api/ngResource/service/$resource) and also [Model resource API](http://docs.strongloop.com/display/LB/AngularJS+JavaScript+SDK#AngularJSJavaScriptSDK-ModelresourceAPI) in our docs.

[2015-01-13 18:36] bajtos commented on #117
I believe this can be achieved by injecting `$injector` into your method and calling `$injector.get(modelName)`.

[2015-01-13 18:36] #117 closed

[2015-01-14 23:34] MikaAK opened #120 "$save removes associated models on return"
Recently I noticed that using `model.$save()` will cause any relational data to be lost on success.
### example

[code]
#### Before Call

[code]
#### After Call

[code]

[2015-01-15 02:45] xinshouke opened #121 "It must set value for the propety which not required while invoke the method in lb-services.js"
I may call rest API without any value for that property which not required thr loopback explorer successfully.
 But when I invoke the same method in the lb-services.js under the client folder, I had to set all property including those values which not required in model, because only as this way, the record may added successfully.

[2015-01-16 21:06] alexxgathp opened #122 "create() with array - Error: [$resource:badcfg] Error in resource configuration. Expected response to contain an object but got an array..."
This may be an Angular configuration issue or a minor Loopback Angular service issue with what it returns, not sure.

When sending multiple data objects to create(), it returns an array and this error:

[code]
I read somewhere that it may be expecting an object or some sort of $resource configuration.

[2015-01-17 23:08] GameScripting opened #123 "Filter date on nested document"
I am trying to filter my collection on nested date values, however I don't get any matches:

    Events.find({
      filter: {
        where: {
          'sensors.timeOpened' : { lt: dateFrom }
        }
      }
    })

dateFrom is a JavaScript Date object.
I also dont get any matches if I am using gt, gte or lte. However when using neq it matches all documents. When I try to filter with gt or lt

[2015-01-18 08:39] GameScripting commented on #123
To overcome this problem on the angular site, I created a remote function. However the nodejs DB-Api behaves exactly the same way as the angular api does. May this be a general problem?
Any known limitations on filtering by date?

[2015-01-18 12:19] nolandubeau commented on #123
Can you confirm if creating a remote function resolved the date filtering
issue or did not?

Thanks

On Sunday, January 18, 2015, Daniel Huhn <notifications@github.com> wrote:

--
Nolan Dubeau
VP, Engineering
Guardly

Sent from my Apple Newton

[2015-01-18 13:36] GameScripting commented on #123
As I wrote on my second post, creating a remote function did not resolve my issue since the same "error" happens when using the DB api directly on the server.

If this is not an angular specific error, should I post the issue on another sub-project of loopback? On which?

[2015-01-18 15:24] nolandubeau commented on #123
I would post to the loopback Google group as it could be a more generic
issue as opposed to angular.

On Sunday, January 18, 2015, Daniel Huhn <notifications@github.com> wrote:

--
Nolan Dubeau
VP, Engineering
Guardly

Sent from my Apple Newton

[2015-01-19 10:11] clarkorz commented on #74
Is there any plan to support [loopback-component-oauth](https://github.com/strongloop/loopback-component-oauth2)?

[2015-01-20 16:27] bajtos commented on #120
Here is what is happening under the hood:

- `myModel.$save` sends the data ("before call") in the request to the LoopBack server.

- Since LoopBack does not support updating related models in a single request (see https://github.com/strongloop/loopback/issues/644 and https://github.com/strongloop/loopback/issues/583), it silently discards the related data and returns only the model properties in

[2015-01-20 16:28] bajtos commented on #121
Could you please provide a (minimal) example how to reproduce your problem locally on my machine?

[2015-01-20 16:31] bajtos commented on #122
This is sort of expected, the create method generated by the SDK does not support creating multiple instances via an array.

A possible solution is to extend the generator to produce two methods:

 - `create` for creating a single model instance
 - `createMany` for creating multiple model instances

They will share most of the configuration except the `isArray` flag.

Would you mind contributing t

[2015-01-20 16:35] bajtos commented on #123
Please post the JSON file containing model definition. The suspicious part in your query is `sensors.timeOpened`, as that's not the correct way of testing nested properties AFAIK.

Can you try this instead? (It's just a wild guess.)

[code]

@raymondfeng What's the correct syntax for querying nested properties?

[2015-01-20 16:38] bajtos commented on #123
Apparently LoopBack does not support filtering using nested properties yet - see https://github.com/strongloop/loopback/issues/517.  I am closing this issue as a duplicate.

[2015-01-20 16:38] #123 closed

[2015-01-20 17:28] alexxgathp commented on #122
Sure, I'll give it a shot. I'll let you know if I run into any issues.

[2015-01-29 22:25] esco commented on #74
:+1:

[2015-01-30 16:00] bajtos opened #124 "Enable relation methods targetting Models not exposed via REST API"
Cross-posting from https://groups.google.com/forum/#!topic/loopbackjs/pyk5B4-SFzs:

I have the following models:

Customer
Group

Customer hasMany Groups
Group belongsTo Customer

In the API I don't want to expose Group endpoints  (i.e  /api/groups/), but I do want to expose /api/customers/:id/groups

Recently I change my model-config.json to disable public access to the Groups endpoint.

	"Group"

[2015-01-31 21:32] Morriz opened #125 "user can't update its own data (401)"
The loopback angular model.$save (or Model.update for that matter) defaults to $upsert, which tries a batch update on the server, which is not allowed for just the $owner. The PUT method for a logged in user in the explorer works though.

Difference in calls is (while using same body payload):

explorer PUT: /api/Users/someid (allowed)
loopback-services.js PUT: /api/Users?id=someid (not allowed be

[2015-02-02 15:13] jmls opened #126 "undocumented dependency on ngResource"
Whilst it is mentioned that lb-services comprises of some "Auto-generated AngularJS services, compatible with ngResource.$resource,", it isn't made particularly clear that ngResource is needed by lb-services.

If you don't grab the angular-resource scripts, you get a dependency injection error

[2015-02-06 19:06] Morriz opened #127 "User.getCurrent does not work at all"
It tries to GET:
/api/Users/:id with id=1

Sorry for not being verbose, but I hope it's clear enough :)

[2015-02-10 11:18] PeterClough commented on #74
"implement support for cookie-based authentication in loopback-sdk-angular"

Any ideas on timescales for this work to be implemented please?

[2015-02-11 10:14] jmls opened #128 "scopes are not part of lb-services"
The SDK does not support scopes yet

[2015-02-19 14:47] joncarlson commented on #125
Also experiencing this (not using Postgres). If I change the URL in $upsert **from** `urlBase + '/people'` **to** `urlBase + '/people/:id'` updates work correctly.

[2015-02-24 16:31] jonathan-casarrubias commented on #122
I'm also working on this, took a time to figure out the issue but I'm almost there.. I'll post or pull request if I achieve this functionality

[2015-02-24 18:58] jonathan-casarrubias commented on #122
what is the best way to inherit a method?

In the file services.js line 61 I'm adding:

[code]

So until this point I'm able to see on lb-services the createMany for each model with the isArray: true in it, obviously the problem is that I have 2 times the createMany and the create disappeared because I'm overriding the create method with the createMany due the reference.

I tried cloning the "meth

[2015-03-02 22:09] crandmck commented on #126
Added a note to http://docs.strongloop.com/display/LB/AngularJS+JavaScript+SDK#AngularJSJavaScriptSDK-Howitworks.  @jmls do you think that covers it?

[2015-03-03 10:25] MikeSpock opened #130 "Upsert shouldn't set url?"
There is an issue when updating an existing resource:

    $scope.user = User.findById({ id: $state.params.id });

    $scope.submit = function(){
        $scope.user.$save().then(function() {
            $state.go('userList');
        });
    }

Then backend throws an error, because the sent request goes to the url '?id=xx', due to the fact, that upsert is misconfigured. Requested uri is: `http:/

[2015-03-03 18:44] jmls commented on #126
looks much better ;) thanks

[2015-03-03 19:24] crandmck commented on #126
ty!

[2015-03-03 19:24] #126 closed

[2015-03-04 08:21] bajtos commented on #127
What's wrong with `GET /api/Users/1`? What response are you getting back?

Please post full instructions how I can reproduce the problem on my machine.

[2015-03-04 08:26] bajtos commented on #125
IIRC, there is an important difference between "PUT /api/people" and "PUT /api/people/:id": the former replaces all properties with the data in the request and deletes any properties not included in the request, while the latter updates only the properties specified by the request and leaves the rest untouched.

@raymondfeng @ritch you are more familiar with ACLs than I am. Is it expected that `up

[2015-03-04 08:27] bajtos commented on #130
Closing as a duplicate of #125.

[2015-03-04 08:27] #130 closed

[2015-03-04 09:01] bajtos commented on #125
Apparently `PUT /api/people` (updateOrCreate) and `PUT /api/people/:id` (prototype.updateAttributes) is all that loopback provides, in which case we have to use "updateAttributes" to update the current user.

There are two things that can be done.

A) Change your Angular app to call updateAttributes instead of save:

[code]

B) Rework the implementation of $save ([source](https://github.com/strong

[2015-03-04 12:41] nolandubeau commented on #125
I would vote for B.

On Wednesday, March 4, 2015, Miroslav Bajtoš <notifications@github.com>
wrote:

--
Nolan Dubeau
VP, Engineering
Guardly

Sent from my Apple Newton

[2015-03-05 02:58] yurenju opened #132 "lb-ng-doc does not generate description of model"
STR:
1. use `slc loopback:model` generate a model `car`
2. edit car.json and add `description` field for model
3. generate lbServices.js by `lb-ng`
4. generate angular docs by `lb-ng-doc`

expected:
doc in comment of lbServices.js should contain description which add in (2)

actually:
only got the description like:
[code]

and the description is hard coding in [services.template.ejs](https://githu

[2015-03-05 07:04] bajtos commented on #125
As I mentioned in #481, another option is to add a new method "prototype.update" that would always update all attributes and which can be used in `$save`.

[2015-03-12 17:34] bajtos commented on #122
I would use prototypal inheritance via `Object.create`, see e.g. https://github.com/strongloop/loopback-sdk-angular/blob/fa7668b8e11e04fad8d239558846804e5d6315f8/lib/services.js#L155-L159

I am not very keen on testing `action.createMany` to decide whether the action returns an array. A cleaner solution is to override `isReturningArray()` in the child object.

[code]

[2015-03-12 20:49] jonathan-casarrubias commented on #122
Yes that is actually cleaner, I will implement this and if works I will pull request. thanks a lot

[2015-03-16 09:52] bajtos commented on #132
@yurenju can you contribute the enhancement yourself?

[2015-03-16 09:53] bajtos commented on #102
As part of our issue triage process, we are closing items that have been inactive for an extended period of time. Feel free to reopen this issue if you can provide any new information to help us with resolving the issue.

[2015-03-16 09:53] #102 closed

[2015-03-16 09:54] bajtos commented on #97
As part of our issue triage process, we are closing items that have been inactive for an extended period of time. Feel free to reopen this issue if you can provide any new information to help us with resolving the issue.

[2015-03-16 09:54] bajtos commented on #69
As part of our issue triage process, we are closing items that have been inactive for an extended period of time. Feel free to reopen this issue if you can provide any new information to help us with resolving the issue.

[2015-03-16 09:54] #69 closed

[2015-03-16 09:54] bajtos commented on #55
As part of our issue triage process, we are closing items that have been inactive for an extended period of time. Feel free to reopen this issue if you can provide any new information to help us with resolving the issue.

[2015-03-16 09:54] #55 closed

[2015-03-16 09:55] bajtos commented on #62
As part of our issue triage process, we are closing items that have been inactive for an extended period of time. Feel free to reopen this issue if you can provide any new information to help us with resolving the issue.

[2015-03-16 09:55] #62 closed

[2015-03-16 09:55] bajtos commented on #67
I am closing this issue, since there were not enough people asking for this enhancement. We can reopen it again later when there is more demand and/or there is a person willing to contribute the implementation.

[2015-03-16 09:55] #67 closed

[2015-03-16 09:56] bajtos commented on #121
As part of our issue triage process, we are closing items that have been inactive for an extended period of time. Feel free to reopen this issue if you can provide instructions allowing us to reproduce the problem on our machines using the latest version.

[2015-03-16 09:56] #121 closed

[2015-03-16 10:05] bajtos opened #133 "Generate isomorphic API"
Almost all users new to LoopBack SDK for AngularJS get confused about the client API and the fact that the arguments must be passed in a named object. Figuring out how to correctly invoke related methods is even more difficult.

I am proposing to rework the code generator to drop ngResource and produce an API that is as much close to the server-side API as possible.

[code]

Note that this is diff

[2015-03-16 14:56] kraman commented on #133
Would this API have any advantages over the existing angular resource way of doing things? Perhaps make bi-dir sync easier?

[2015-03-16 16:12] bajtos commented on #133
It will be easier for new developers to learn. I was running a [LoopBack+Angular workshop](http://bit.ly/learn-loopback) twice and almost everybody got confused about the correct way of using the client API.

It is also a common source of confusion in the mailing list and gitter. People find a documentation page showing the server API and they don't realise they need a different API in the client.

[2015-03-16 23:34] ilianaza opened #134 "prototype$updateAttributes not working as expected"
I've upgraded different loopback packages:

[code]

This upgrade changed the way the prototype$updateAttributes method worked. Before I was able to update an attribute of an instance this way:

[code]

But now I get the following error:

[code]

The only way I'm able to update instance attributes now is:

[code]

My model has 20 attributes and I don't want to list them all in the 2nd parameter of

[2015-03-16 23:38] raymondfeng commented on #134
The behavior was introduced by https://github.com/strongloop/loopback-datasource-juggler/pull/508. It fixes a security hole that potentially allows non-owner to mess up with the id. You can remove the id before it's sent to the backend.

BTW, do you use mongodb?

[2015-03-17 00:07] ahmed-abdulmoniem commented on #78
This is not working.

Tried to pass null, empty, duplicate objects and always I receive 404.

Any solution please?

or should I call the api myself using $http?

[2015-03-17 00:36] ilianaza commented on #134
Yes, I use mongodb.

[2015-03-17 00:41] ahmed-abdulmoniem opened #135 "link method not attaching fk to url, failing to create relationship"
Related to this issue: https://github.com/strongloop/loopback-sdk-angular/issues/78

Still I am trying to do the workaround of passing null, empty, duplicate object to the link method but it is not working.

Here is my code:

`.MallBranch.customPromotions.link({
              id: item.id,
              fk: promotionAfterCreation.id
            }, null);`

or even

`.MallBranch.customPromotions.lin

[2015-03-17 00:42] ahmed-abdulmoniem commented on #78
Still I am trying to do the workaround of passing null, empty, duplicate object to the link method but it is not working.

Here is my code:

`.MallBranch.customPromotions.link({
              id: item.id,
              fk: promotionAfterCreation.id
            }, null);`

or even

`.MallBranch.customPromotions.link({
              id: item.id,
              fk: promotionAfterCreation.id

[2015-03-17 02:33] ilianaza commented on #134
Does that somehow affect the way $updateAttributes method should be called?

[2015-03-17 06:03] raymondfeng commented on #134
Yes, the `id` property cannot be set in the `data` argument.

[2015-03-17 19:19] ilianaza opened #136 "Convenience method to update attributes of an instance"
Based on the answer in the https://github.com/strongloop/loopback-sdk-angular/issues/134 I was thinking to introduce a helper method that would automate the process of removing id property from the instance before all attributes are updated. This helper method would look something along these lines inside Resource generator:

[code]
1. Please let me know if something along these lines already exis

[2015-03-19 12:29] robinskumar73 opened #137 "Improving documentation for loopback angular sdk page"
#### Referring to [Angular Sdk Docs](http://docs.strongloop.com/display/public/LB/AngularJS+JavaScript+SDK)
**"Handling 401 Unauthorized"**
There has been given a method for  LoopBack server fail with **401 errors** for which it needs to be improved.

##### Posted code in docs
    // Inside app config block
    $httpProvider.interceptors.push(function($q, $location) {
      return {
        respon

[2015-03-23 15:27] adanielyan commented on #30
Can you please provide an example of using the link function? I am struggling with it trying to add a new relationship between two modules in angular. How should the function parameter object be constructed? I tried
[code]

as well as tried to replace fk with sectorId or even provide two different objects like
[code]

but neither worked.

[2015-03-23 19:11] alexxgathp commented on #122
Looks like you guys got it underway, I got sidetracked with some other parts of my project.

I haven't tested it completely yet, but this Angular-side approach seems to work too (though I would assume is less efficient):
**An asynchronous for loop**
[code]

[2015-03-25 18:01] jonathan-casarrubias commented on #122
Right, that should probably work... the issue with that is that you make a bunch of requests that may flood your backend, of course depending the traffic of your system you could decrease the performance.

Adding the following 6 lines of code will build a createMany method for you and you will be able to store multiple instance in just 1 request

File: loopback-sdk-angular/lib/services.js
[code]

[2015-03-25 22:58] jonathan-casarrubias commented on #78
The result error says that there is not "http://localhost:3000/api/MallBranches/55027ad139cb44c8431e4e83/customPromotions/rel" path, so in my understanding you are not passing the FK, even I see you actually try to pass it, no body can assure that promotionAfterCreation.id has a value.

My assumption is that promotionAfterCreation.id is in fact empty, because your route should be something like "h

[2015-03-25 23:31] ahmed-abdulmoniem commented on #78
In fact no. I am passing the Id and it is not empty.

My solution (workaround) is to hook on beforeRemote and afterRemote events of the create method of my model and do the work there in the server and it worked with the same data I was trying to pass to the REST service.

Still, I can't solve the REST issue!

[2015-03-26 15:39] jonathan-casarrubias commented on #78
Well, that is really strange the only thing i know is that the final url is not being created correctly.. not sure why then if you say you are sure there is a value id right before the call..  you could try building your own $resource or simply use $http and build the url by your own...

Cheers
jon

[2015-03-26 15:43] jonathan-casarrubias commented on #30
That has been already discussed in https://github.com/strongloop/loopback-sdk-angular/issues/78

cheers
jon

[2015-03-26 15:47] adanielyan commented on #30
Thank you jon. I found that solution but forgot to update the thread here.

[2015-03-26 16:39] bajtos commented on #78
Could you please create a sample app reproducing the issue per https://github.com/strongloop/loopback/wiki/Reporting-issues?

[2015-03-27 13:06] thovden commented on #74
I had this same issue, and have solved it by patching loopback-component-passport to support including the accessToken in the `successRedirect` URL. I have a gut feeling this is dubious from a security point of view, and if so, I hope you will tell me why.

The setup is as follows. I have an AngularJS app running on one domain, and the Loopback server on another. Both run TLS-only in production.

[2015-03-30 07:00] mattmccabe commented on #78
I just ran into this issue as well and I believe it's happening due to how the angular resources are generated by lb-ng tool.

In my example, my code is:
[code]
Which ends up at the below action defined in the 'WorkRole' resource (lb-ng generated lb-services.js excerpt) :
[code]
The  'action' defined here isn't specifying 'fk' as a param. The 'id' is getting projected into the url because of the p

[2015-03-30 10:59] ssegeo opened #139 "lb-ng Not generating Models ( Cannot find module 'loopback' ) with STR"
I am failing to generate my models, here is the STR
[Sandbox Repository](https://github.com/ssegeo/loopback-sandbox)

[code]
@bajtos I hope this gives you a clear picture

[2015-03-30 12:53] bajtos commented on #78
Thanks @mattmccabe for detailed analysis. To me, this looks like a general shortcoming of the current implementation where we don't correctly detect method arguments that are mapped to path params.

To fix it, we need to modify `lib/services.js` to process arguments and detect those with `http.source === 'path'`. Then we need to change `lib/services.template.ejs` to use this new information to inc

[2015-03-30 12:58] bajtos commented on #134
@raymondfeng Can we please fix MongoDB connector so that it accepts `updateAttributes` requests that include the `id` property but don't change the value?

[2015-03-30 13:03] bajtos commented on #136
I'd much rather fix the connectors to correctly detect whether the id value is being modified or not, see my comment in #134.

You can use `updateOrCreate`, but that has slightly different semantics. We don't have a direct equivalent of your proposed method.

Well, if `updateAttributes` rejects request with an id property, then it's best to add the `transformRequest` option directly to `updateAttr

[2015-03-30 13:05] bajtos commented on #137
Thank you for the suggestion. Please contribute the change directly to the documentation, see [Contributing to LoopBack documentation](http://docs.strongloop.com/display/LB/Contributing+to+LoopBack+documentation).

[2015-03-30 13:05] #137 closed

[2015-03-30 13:07] bajtos commented on #139
Hi @ssegeo, thank you for reporting the issue. We are already discussing the problem in https://github.com/strongloop/loopback-sdk-angular-cli/issues/14, let's move there please.

I am closing this issue as a duplicate.

[2015-03-30 13:31] bajtos commented on #127
As part of our issue triage process, we are closing items that have been inactive for an extended period of time. Feel free to reopen this issue if you can provide instructions allowing us to reproduce the problem on our machines using the latest version.

[2015-03-30 13:31] #127 closed

[2015-03-30 13:31] #139 closed

[2015-03-30 13:32] bajtos commented on #80
I am closing this issue as it's not related to the AngularJS SDK itself.

[2015-03-30 13:32] #80 closed

[2015-03-31 15:33] MikeSpock opened #140 "Include filter post issue"
These two lines do de same thing.

            $scope.list = Todo.find({"filter[include]": 'owner'});
            $scope.list = Todo.find({filter:{include: "owner"}});

Docs suggest using the second version, but still, the first one sends a good request. I console.log the arriving ctx variable on a remote hook, and I get this for `context.req.query`:

    { filter: { include: 'reward'}}
    { filt

[2015-04-03 09:06] ahmed-abdulmoniem commented on #78
Thank you all.

This would be available on which version .. I mean should I update my bower.json version to what?

[2015-04-06 01:57] kraman commented on #133
@jasonaden @bajtos I can see the advantage of this proposal, but if size is the major concern in the #83, I'm wonder if it makes sense to try and optimize that bundle and automatically get all the advanced LB features. Specially considering something like http://blog.npmjs.org/post/114584444410/using-angulars-new-improved-browserify-support

[2015-04-07 06:33] bajtos commented on #133
See https://github.com/strongloop/loopback/issues/989#issuecomment-86418557. I don't think it's possible to reduce the size of the browserified bundle to a similar order of magnitude that can be achieved with a thin code-generated client. Just four core files (dao, datasource, relation-definition, persisted-model) contain ~250kb of un-minified source code, not including any dependencies.

Having s

[2015-04-07 06:34] bajtos commented on #135
@ahmed-abdulmoniem the issue #78 is not fixed yet, that's why the `link` method does not work for you.

I am closing this issue as a duplicate.

[2015-04-07 06:34] #135 closed

[2015-04-07 12:29] ahmed-abdulmoniem commented on #78
@bajtos Can you please point out the place which I can change in `lib/services.js` to process arguments and detect those with `http.source === 'path'`

Also the place which I need to change in `lib/services.template.ejs` to use this new information to include a correct `params` option in each method emitted?

I need this fix urgently .. Thanks.

[2015-04-07 12:44] Klowner opened #141 "Auto-convert timestamp/date string attributes to Date objects"
I've been working with Angular 1.3 and it seems to have a preference towards having actual Date objects bound to input[date] forms. I was thinking it would be nice to add the ability for the this library to automatically convert date-like attributes to js Date objects.

[2015-04-07 13:10] bajtos commented on #141
@Klowner thank you for reporting the issue. Can you please provide more information on how to reproduce your use case in pure javascript?

Is this example correctly describing the problem?

[code]

[2015-04-07 13:23] Klowner commented on #141
@bajtos that's the gist of it. In my particular use case I'm querying for a number of Products and as a work-around I'm manipulating each one after receiving it, which isn't super great, imho.

[code]

[2015-04-07 14:09] bajtos commented on #141
Understood :+1:

I can't promise you any estimate on when this will be fixed, it will most likely wait for a community contribution.

[2015-04-07 14:15] Klowner commented on #141
No worries, hopefully I can dig into it and make some sense of things.

[2015-04-07 17:37] bajtos commented on #78
See https://github.com/strongloop/loopback-sdk-angular/blob/fa7668b8e11e04fad8d239558846804e5d6315f8/lib/services.js#L57-L65, we are already doing a bit of argument processing there.

https://github.com/strongloop/loopback-sdk-angular/blob/fa7668b8e11e04fad8d239558846804e5d6315f8/lib/services.template.ejs#L86-L88

Don't forget to add a unit-test verifying your implementation. We already have some

[2015-04-17 22:54] alexxgathp opened #142 "ui.bootstrap.pagination of 'Include' Relation not displaying past 1st page."
I am using the Angular module ui.bootstrap.pagination.
I have a model 'A' with a relation object 'B'.

When I find() or GET 'A', I add to the filter the 'include' phrase to get all the related 'B' objects.

I do a ng-repeat with 'A' and inside of that a ng-repeat of the 'B' objects.

My pagination function works in paginating 'A' correctly, but 'B' only displays the first page correctly. The other

[2015-04-17 23:13] alexxgathp commented on #142
Making a plnkr to show what it should do normally, will post soon...

[2015-04-17 23:26] alexxgathp commented on #142
I'm going to post this to the pagination module, see what they come up with, then I'll post back here if it is an issue still. I'm finding out it may be another issue.

[2015-04-17 23:26] #142 closed

[2015-04-19 12:26] Morriz opened #143 "user.$logout() does not work"
if I create a new AppUser (derived from User) with id=1 called user, I get errors logging out with user.$logout():

POST http://192.168.1.102:8100/api/AppUsers/logout?id=1 500 (Internal Server Error):

Model::findById requires the id argument

I am using sdk version 1.3.7

[2015-04-20 07:31] ahmed-abdulmoniem commented on #74
@frankcarey
Can I know how to tell loopback-passport to send params to the url instead of session/cookie? I mean should I add some configuration to the `providers.json` for example or what exactly?

Also, I have strongloop in the backend .. but the consumer is an ionic app/cordova which should be installed to the mobiles so how can I redirect to it?

[2015-04-21 16:09] bajtos commented on #143
You need to call `User.logout()` instead of `user.$logout()`. Also note that a newly created user is not logged in by default, you have to call `User.login` first.

[2015-04-21 16:09] #143 closed

[2015-04-21 16:10] bajtos commented on #140
I don't understand. Are you saying that `Todo.find({filter:{include: "owner"}});` does not work correctly?

[2015-04-27 09:12] mikamboo opened #145 "HasAndBelongsToMany relation Model.relationName.link() method not working as expected"
Hello strong team,

I created two models Car and Tag linked with ___hasAndBelongsToMany__ relation. Trying to link to instances of these models issue a 404 error message. Because ```fk``` paramater is not setted propoerly by angular sdk client lib.

* __Car model :__ ```car.json```

[code]

* __Tag model :__ ```tag.json```

[code]
I created some sample data (cars and tags) on database (tested with

[2015-04-27 13:44] mikamboo commented on #145
[@jasonaden](https://github.com/jasonaden) found the solution.

[code]

[2015-04-27 13:44] #145 closed

[2015-04-28 00:48] mialso commented on #74
i think there is a way to solve this by adding new option in `providers.json`
[code]
and then `passport-configurator.js` add handler (line 403)
[code]
function getScriptToSend():
[code]
this workaround adds data(tokenId & userID) to browser sessionStorage before angular-client loading, so we are able to call User.getCurrent() and all other stuff.
Are there any critical issues in this approach?

[2015-04-28 13:01] Klowner commented on #106
Due to trying to build my project out to a Docker instance, I also ran into this issue. My hack solution was to create a datasources.build.json with all my datasource connectors set to "memory".

Far from ideal, but seems to do the trick.

[2015-05-01 20:05] csvan opened #146 "Support caching"
It would be great if the generated services would have an option for caching. For example, the developer could indicate a cache TTL of 10 seconds for the User service. During this period, any request for a resource with a specific ID (for example) will first be pulled from the cache if possible, and after that the service will again delegate to the server.

[2015-05-03 20:20] mattwoolnough commented on #63
Just check on my install (Version 1.3.7) & seems to be fixed now.

"getCurrent": {
           url: urlBase + <%-: meta.getPath() | q %> + "/:id",

[2015-05-04 10:06] bajtos commented on #63
Yep, it was fixed by #100.

[2015-05-04 10:06] #63 closed

[2015-05-05 11:34] #78 closed

[2015-05-08 18:12] adriatic opened #147 "Further ng-lb enhacements"
I found about ```ng-lb``` tool today and got instantly excited, to the point that I started a brief email exchange with Rand, which in turn resulted with the [added explanation](http://docs.strongloop.com/display/public/LB/Create+AngularJS+client;jsessionid=88FA83B629F96973A2C007E2F7152D1A#CreateAngularJSclient-Copytheotherclientfiles) shown below:
[code]
Since the ```ng-lb``` generated file ```lb

[2015-05-11 20:34] piotrvladimir opened #148 "Can not find 'LoopBackResource' and 'LoopBackAuth' provider."
Hi Support team.
I've generated loopback services but can not get find LoopBackResource and LoopBackAuth provider.
Where can I find these providers?

[2015-05-16 11:43] gautamkishore opened #149 "Right way to fetch related models for nested ng-repeat using lb-services"
how can i fetch the json data of related model of a service. Suppose i have a transactions and accounts model and a transactions model has relation with accounts model. I want to display the data of Transactions model with all related accounts data for that transaction.

[2015-05-24 09:48] husseiny-m opened #150 "lb-ng-doc command Error"
Hi,

When I try to generate the documentation of the lbServices.js I get the following error:
 [Error: spawn C:\WINDOWS\system32\cmd.exe ENOENT]

-------- verifying plugins --------
-------- generating Docs --------
Extracting loopback Docs For Section "lbServices"...
-------- generating partials directories for groups --------
-------- generating partials directories for sections --------
-------

[2015-05-26 09:27] teone commented on #146
+1

[2015-05-26 13:12] teone commented on #146
Found out that this method is present: `getCachedCurrent()` and as stated in Docs:

[2015-05-26 13:16] csvan commented on #146
@teone - a cursory look at this suggests it only applies to the User repository, and only for retrieving user data. What I had in mind was a caching service that could be configured for all repositories.

[2015-05-26 13:43] teone commented on #146
@csvan I completely agree with you, that's why I left the +1 :smile:

I think that something similar can be achieved with decorators, but of course, will be cool to have it "out of the box", anyway I'll give decorator a try and eventually come back with something...

[2015-05-26 13:43] csvan commented on #146
Ok! :)

[2015-05-26 15:33] teone commented on #146
Also I found out that (as stated in the docs) `getCachedCurrent()` works only if `getCurrent()` has been called before, and is also sync, so it pretty hard to use around your app unless you are sure that the `getCurrent()` has been called, an most of the time I'm not...

[2015-05-28 14:58] britztopher opened #151 "HasMany Relationship Storing same id for foreign key and primary key"
When you have a hasMany relationship, say 1 User can have many Orders, and you use the function for adding a new order for this user.  I am getting a weird occurrence where the FK(userId) for the user in the Orders collection is the exact same as the PK in the Orders table.

For example,  when I use this method:

[code]

which is created with angular SDK. The result in the database is

[code]

As

[2015-06-01 08:30] bajtos commented on #151
I am afraid you are using the API incorrectly. Here is the correct way how to create a related instance:

[code]

See this [unit-test](https://github.com/strongloop/loopback-sdk-angular/blob/master/test.e2e/spec/services.spec.js#L665-L681) and the API docs generated in your services files for more information. Alternatively, take a look at [User.accessTokens.create](http://apidocs.strongloop.com/l

[2015-06-01 08:30] #151 closed

[2015-06-01 08:35] bajtos commented on #149
[code]

See the API documentation in the file you have generated using our SDK and/or the hosted API docs for [User.accessTokens()](http://apidocs.strongloop.com/loopback-sdk-angular/#user-accesstokens-1).

[2015-06-01 08:35] #149 closed

[2015-06-01 15:17] britztopher commented on #151
Thanks @bajtos, sorry for the misread in docs, as I thought the params and the payload had to be within the same object.

[2015-06-01 17:07] bajtos commented on #151
No worries, I was glad to help :)

[2015-06-02 12:47] bajtos commented on #146
Hi, while I am not entirely opposed to provide some caching mechanism OOTB, I am not convinced that we should change the code generator for that. As stated in one of the comments above, it should be possible to achieve this functionality using decorators. Another possible solution is to use $http interceptors.

The idea behind `getCachedCurrent` is that the application should call `getCurrent` at

[2015-06-02 14:31] bajtos commented on #150
Hi, thank you for reporting this issue. I am afraid the docular module we use for rendering API docs is rather broken on Windows :( Rather than trying to fix a something that may be impossible to fix, I'd like to rework `lb-ng-doc` to use our strong-docs tools which powers http://apidocs.strongloop.com.

I am closing this issue in favour of #22.

[2015-06-02 14:31] #150 closed

[2015-06-02 14:31] bajtos commented on #150
Edit: in favour of https://github.com/strongloop/loopback-sdk-angular-cli/issues/22

[2015-06-02 15:00] bajtos commented on #148
Did you add the generated script file to your application and include `lbServices` as a dependency of your app?

[2015-06-04 13:17] anhtuan9113 opened #152 ""Expected response to contain an object but got an array" in Many-to-Many relationship"
Hi Support team,
- I have two models Artist, Event and their relationship is Many-to-Many.
- I try to use Artist.events.findById() function to get all events of an artist. Http response status is 200 but angular throws an error "Error in resource configuration for action `::findById::Artist::events`. Expected response to contain an object but got an array".

Could you help me to check it ?
Thank y

[2015-06-09 15:43] jonathan-casarrubias commented on #152
Try with

[code]

You can also add filters

[code]

Cheers
Jon

[2015-06-10 04:26] alexthewilde commented on #119
+1

[2015-06-11 15:52] teone commented on #146
Finally here with a [decorator sample](https://gist.github.com/teone/72668551eaad31ff5eae)

This is currently working and is caching the request, but I think that something better can be achieved, any suggestion is highly appreciated.

It will be really cool to create a module that someway read all the resource's methods form the `lbServices` module and dinamically create cache for all of them.

A

[2015-06-11 16:35] bajtos commented on #146
How about implementing the caching on the HTTP layer? Apparently `$http` supports cache OOTB, see the `cache` config option. If my understanding is correct, then you should be able to enable cache using an HTTP interceptor.

[code]

Link to docs: https://code.angularjs.org/1.3.15/docs/api/ng/service/$http

It's possible to use a custom cache object instead of `true`, in which case the cache can be

[2015-06-12 09:48] ssegeo opened #153 "allow adding custom interceptors to the various $resource end points @feature"

[2015-06-12 13:07] teone commented on #146
Good point @bajtos!

I refactored my code as this:

[code]

[2015-06-12 14:35] bajtos commented on #146
@teone nice!

AFAICT, Angular v1.3.15 uses the request URL as the cache key ([source](https://github.com/angular/angular.js/blob/v1.3.15/src/ng/http.js#L1039)). As long as you know the URL, it should be easy to clear that particular cache entry. Unfortunately it seems that ngResource does not allow introspection of action configuration (like URL), see [resource.js](https://github.com/angular/angul

[2015-06-13 19:59] alexxgathp commented on #119
I may have an explanation for the issue, though I haven't checked it recently since I had to design around it at the time.
It happened with several other models, a save not saving when changing the id while using an include.

I finally got those $save to work by changing both the id field and the included instance.
For instance, say there is a testid, I do a include: "test".
I would change both th

[2015-06-15 08:54] teone commented on #146
I'll go on looking a way to clear the cache for one route only as soon as I find some free time, for now I've added a configuration option to choose which routes you'll want to cache and made a module of it, it is available here: https://github.com/linkmesrl/ngHttpCache

Including it is pretty fast and straight forward so I hope it can be usefull to someone else!

[2015-06-15 14:29] cebor opened #154 "resourceInstance.$save not working correctly with ACLs on model-instance level"
I just noticed that `resourceInstance.$save` does not work how it should.

Example:

[code]

The problem is that the `$save` method does the PUT request on a wrong URL:

[code]

On Models where i don't need an auth it works, but on models where i need to be authed like the User it does not.

I don't know if this is a AngularJS problem or something with the loopback generated `lb-services.js`.

Im

[2015-06-15 15:34] bajtos commented on #154
The current behaviour is the result of an intentional decision made while developing loopback-sdk-angular. Consider the following example:

[code]

The client cannot tell whether `user.$save` is updating an existing record, or whether a new record with a pre-set id should be created instead. The safest (and the simplest) solution is to call `updateOrCreate` (`PUT http://localhost:3000/api/User)` a

[2015-06-15 15:42] raymondfeng commented on #154
The behavior of `PersistedModel.prototype.save()` is as follows:

1. If the `id` is present, try update
2. If the `id` is missing, try insert

I think Angular should allow it.

[2015-06-15 15:43] bajtos commented on #154
Related discussion: https://github.com/strongloop/loopback-sdk-angular/issues/89

[2015-06-15 21:02] ritch opened #155 "Support creating change streams"
/cc @bajtos @seanbrookes

This includes using strong-remoting within the angular sdk generated code.

[2015-06-15 21:03] ritch opened #156 "Support Collections and LiveSets"
This depends on:
 - Collections and LiveSets https://github.com/strongloop/loopback/issues/1418
 - Angular SDK Change Stream support https://github.com/strongloop/loopback-sdk-angular/issues/155

Below is a more detailed proposal. I think we should build this outside the **loopback-sdk-angular** repo / module.

[code]

Here is some very basic high level code that illustrates the important details.

[2015-06-16 16:48] ritch opened #157 "Use strong-remoting instead of ngResource"
In order to support advanced features provided by the server, we should use strong-remoting in the angular client. This has quite a few benefits:

 - adapters (write app code against the angular sdk api, and swap from http to other adapters)
 - less generated code (use a serialization of `app.remotes()` instead of templated code)
 - stream support

There are also a few drawbacks:

 - doesn't use `

[2015-06-16 16:50] ritch commented on #157
What if we create a custom angular adapter that uses `ngHttp` (and supports `PersistedModel.subscribe()` but without streams?).

[2015-06-17 06:45] bajtos commented on #157
+1

My original implementation of the Angular SDK was based on a similar approach, where we took remoting metadata and then dynamically built the Angular resources at runtime. The feedback from @seanbrookes was that such SDK is difficult to understand for consumers, as it's not clear what methods are available, what are their arguments, etc. Therefore I have rewritten the generator to produce a st

[2015-06-17 22:02] ritch commented on #156
@bajtos can you take a look at this ^^^

[2015-06-18 06:53] bajtos commented on #156
This looks great! I especially like that we will reuse an existing standard (EventSource) instead of trying to invent our own solution.

+1, small independent modules FTW.

Having said that, creating a new project adds extra overhead. As an alternative, we could keep this new feature in a standalone source file living in this repository. Conceptually, keep the implementation as in two modules, but

[2015-06-18 16:42] ritch commented on #156
I've added support for `_formate=event-source`. I should add `demux-json-newline`... Its actually techincally supported right now (its just not evenr referenced in the code and is just the default).

[2015-06-18 19:03] dlutz2 opened #158 "ReferencesMany relationship from Angular SDK makes incorrect REST call?"
Given a model of  Story -> referencesMany -> Events ,
calling Story.find() works correctly but when calling Story.events(123), the call that actually is made to the REST service is
   **/api/stories/events**
    but shouldn't  it be
   **/api/stories/123/events**

API Explorer makes the correct call and receives the expected response.
Any idea why this might be?
thanks

  dave

[2015-06-19 13:34] pulkitsinghal commented on #122
@jonathan-casarrubias - I started using `.createMany([])` and I noticed something very odd: my loopback server seems to process the pages (of 500 objects each) that I send to be saved via createMany, slower than if i do so via a nodejs-remote-client invocation of `.create([])`

Now I don't have super cool tests with timing metrics to prove this "feeling" but I thought I'd just at least confirm:
1.

[2015-06-22 00:04] csvan commented on #118
Confirming this. Remember Me is currently useless due to this.

[2015-06-22 18:35] jonathan-casarrubias commented on #122
Hi @pulkitsinghal the createMany method for Angular is just a configuration that allows you to receive an array of results after you persists your instances.

For example, if you try to use Model.create() in Angular and send an array, these instances will persist since the limitation is not from the API endpoint '/api/Model/create', the problem comes when the backend response is an array of result

[2015-06-22 18:47] pulkitsinghal commented on #122
@jonathan-casarrubias Yeah I thought that you would be using just the core `.create([])` so that can't be it ... thank you for confirming ... I'll continue looking elsewhere for my performance dilemma.

[2015-06-22 18:50] jonathan-casarrubias commented on #122
I took the time to see the code you referenced here, and I see you are persisting data in chunks -I believe of 500 rows?- that definitely will add overhead, it won't be the same if you upload the full data and then store in 1 process, than sending multiple requests which are multiple processes

Have you already tried to store all the instances in just 1 request? did the loopback server got stucked

[2015-06-22 19:22] pulkitsinghal commented on #122
@jonathan-casarrubias - can we chat privately on https://gitter.im/ jsut a bit more so I can share some metrics?

[2015-06-23 22:53] ritch commented on #157
This doesn't really seem to be going anywhere in the short term and I don't really need it for the advanced features mentioned in the description. What i've done is implemented support for `EventSource` in both my client (angular-live-set) and on the server.

I'm going to close this. @bajtos re-open if you disagree.

[2015-06-23 22:53] #157 closed

[2015-06-26 22:56] reichert621 commented on #22
The [example 2.0](https://github.com/strongloop/loopback-component-storage/tree/master/example-2.0) is pretty helpful. I also created a gist of the bare minimum I needed to do to get file upload working with `ng-file-upload`, because I was struggling for a bit to figure it out: https://gist.github.com/reichert621/e987545fdbc2bc071d37

[2015-06-27 07:48] bevinhex commented on #154
I solved it by adding
[code]
under findById in lb-services.js file, for now working great

[2015-06-30 14:20] bajtos commented on #154
@bevinhex I believe you can use the builtin method `prototype$updateAttributes` instead of adding a custom one.

[code]

[2015-06-30 15:12] #156 closed

[2015-06-30 15:13] #155 closed

[2015-07-01 17:39] nick-anykeydesigns commented on #74
Any update on an official solution?

[2015-07-05 20:39] kennethlynne commented on #115
Same error I got with a simple remoteMethod

[2015-07-05 21:06] kennethlynne opened #159 "Fails for remote methods"
[code]

Crashes `lb-ng`

[code]

[2015-07-06 00:18] kennethlynne commented on #115
Check out #160

[2015-07-06 10:26] hikkyu opened #161 "Error stack trace when rendering ejs"
Hello!

I got this stack trace when I execute it:
[code]

For information I use which to execute the script due to generator utilisation:

    node --harmony_generators `which lb-ng ./server/server.js ./lb-service.js`

Any idea ?

[2015-07-08 22:11] csvan opened #162 "Remote methods are not being generated"
Consider:

[code]

This method successfully shows up in the Explorer, but running lb-ng does not generate any bindings for it at all (though all the default CRUD methods are still there).

[2015-07-08 22:15] csvan commented on #159
Having a similar issue (https://github.com/strongloop/loopback-sdk-angular/issues/162) though in my case the remote method binding simply isn't generated at all, but lb-ng still terminates normally.

[2015-07-08 22:20] csvan commented on #162
So for some reason, this just started working after multiple retries. Closing as I assume it must be a local problem.

[2015-07-08 22:20] #162 closed

[2015-07-10 10:08] erikverheij commented on #78
I still have to add null to get it working;

[code]

When null is omitted, data is added to the payload.
[code]

In some cases this results in an error in the back-end.

[2015-07-10 15:52] bajtos commented on #78
@erikverheij I think that's a generic problem of ngResource. All POST actions take four arguments (params, data, successCb, errorCb), with the first parameter being optional. In other words, if you provide only one object argument, then it's treated as POST data by the framework. I think this is another argument why we should drop ngResource and generate isomorphic-like API instead - see #133

[2015-07-11 18:54] erikverheij commented on #78
@bajtos isn't it possible to let the .link()  method set the optional argument to {}  by default?

[2015-07-14 14:44] florianheinze opened #163 "When localStorage is not supported (e.g. with wkhtmltopdf) LoopBackAuth breaks on loading"
My fix is to set fallbacks for localStorage and sessionStorage:

[code]

This can be done in the generated lb-services.js or in the template in lib/services.template.ejs (in line 255 at the moment) in this SDK.

The reason is that localStorage is null and when the script tries to set/get localStorage[key], wkhtmltopdf throws an "Warning: undefined:0 TypeError: 'null' is not an object" error.

[2015-07-15 11:22] dthib opened #164 "LoopbackAuth & User for third party authentication"
Hi,

I am trying to use Loopback with AngularJS and to have a third party authentication with passport. I have seen in some posts that it is not entirely supported by loopback-sdk-angular for now. Is that right? If I need to do it by myself, is there any recommendation? In particular, I am a bit confused with the differents services: LoopbackAuth that has some useful methods, User that calls somet

[2015-07-17 12:22] Arth95 commented on #86
Hi!
I have the same issue.
First check of .isAuthenticated() is always true.
It comes false after login and logout
This is my service:

myApp.service('isLogged', ['MyUsers', function(MyUsers) {
  this.isLoggedIn = MyUsers.isAuthenticated();
        console.log('isLogged');
        console.log(MyUsers.isAuthenticated());
}]);

Can I solve it somehow?

[2015-07-17 17:56] adanielyan commented on #143
I have a SystemUser model that is inherited from User.

When I try to logout in my API explorer I get this error:
[code]

Can't figure out what I am doing wrong.

[2015-07-17 17:58] adanielyan opened #165 "logout() doean't work"
I have a SystemUser model that is inherited from User. The dataSource is mongodb

When I try to logout in my API explorer I get this error:
[code]

Can't figure out what I am doing wrong.

[2015-07-17 19:26] adanielyan commented on #165
Moved it to loopback issue queue.

https://github.com/strongloop/loopback/issues/1531

[2015-07-17 19:26] #165 closed

[2015-07-17 19:27] adanielyan commented on #143
Moved my question to loopback issue queue.

https://github.com/strongloop/loopback/issues/1531

[2015-07-19 10:45] csvan opened #166 "Add minify option to generator"
While I am aware this is something that can be handled externally (I do it with Gulp), it might be useful to have a CLI option that generates a minified version of the SDK, along with a regular one. Some projects may not be using gulp, and giving them an option for immediate deployment of a minified SDK would be a boon.

[2015-07-20 23:40] csvan opened #167 "Moment.js: UTC dates get corrupted"
I use moment.js in order to get the start and end dates of the current day, in order to search for events that occur on it:

[code]

If I console.log either of the start or end dates above, they show the correct values:

[code]

However, inspecting the data that is actually sent to the server, it turns out the Angular SDK turn the dates into the following:

[code]

IOW the date information gets er

[2015-07-26 09:00] glesage commented on #133
Thanks for all solutions!

FYI, the reason why @mikamboo 's solution in https://github.com/strongloop/loopback-sdk-angular/issues/145 works is because passing `null` removes the `id` parameter that gets automatically passed to any request...

Ex: `Car.tags.link({id:carID, fk:tagID}, null)`
Would actually create a TagCars row in the datasource as such: `id: carId, carId: carId, tagId: tagId`

[2015-08-05 16:41] bajtos commented on #78
@erikverheij I am not aware of any solution. You can take a look at ngResource implementation yourself, it's possible that I just did not spot the way: https://github.com/angular/angular.js/blob/dc0b856e9c540fc8453d83f1be12bdfa1662b013/src/ngResource/resource.js#L520-L554

[2015-08-10 15:30] #159 closed

[2015-08-10 15:31] bajtos commented on #159
The fix is available in `v1.4.1`.

[2015-08-15 14:55] erikverheij commented on #78
@bajtos, thanks for your reply. I'm quite busy right now, but I'll try to figure out a a solution in a few weeks.

[2015-08-18 20:05] emgeee opened #169 "Expose getter method for urlBase"
It would be nice to be able to be able to retrieve the `urlBase` from the generated `lbService` module for the occasional times when querying routes using the standard `$https` service is necessary.

I'm thinking a `getUrlBase()` method on the `LoopBackResource` provider.

[2015-08-19 05:55] xixilive commented on #164
Since loopback provides an Restful API service, Each request are authenticated via an access token. and LoopbackAuth is a client-side implementation for the server-side authentication.

[2015-08-19 06:03] xixilive commented on #158
When use a relation method, your should specify a primary key and a foreign key. In case above, Story.events is a relation, you may call it with {id: STORYID}

[2015-08-19 08:16] ilya-khaustov opened #170 "Method link() sends incorrect id param"
When using `link()` like this:

    Company.categories.link({id: $scope.company.id, fk: category.id})

I had an error in response saying that relation key is duplicated. After changing loopback-sdk service  from:

         "::link::Company::categories": {
            params: {
             'fk': '@fk',
             'id': '@id'
            },
            url: urlBase + "/Companies/:id/categories/re

[2015-08-20 23:02] njcaruso opened #171 "LoopBackAuth.rememberMe always resolving to true"
Per the [documentation](https://docs.strongloop.com/display/public/LB/AngularJS+JavaScript+SDK#AngularJSJavaScriptSDK-Authentication) I'm logging in below:
[code]
if rememberMe is set to `false` in the login call, it resolves to `true` in the lb-service interceptor after login.

The code for the interceptor is:
`LoopBackAuth.rememberMe = response.config.params.rememberMe !== false;`

However, `res

[2015-08-25 08:01] ezraroi opened #172 "documentations is broken when giving custom module name"
If I config in the task ngModuleName that is not lbServices, the docs generatedare not valid as some of the services / methods use the module i gave and some of them use 'lbServices'

[2015-08-25 08:16] csvan opened #174 "Model.destroyAll not exposed by SDK."
This method is present by default on the server-side, but does not get exposed by the SDK. Might be wrong, but I think it is the only default method which is not present in the SDK.

[2015-08-25 12:48] csvan commented on #78
@bajtos the workaround with passing `null` works in my case, but is this really intended behavior as far as RESTful APIs are concerned? Should not `link` only associate one model with another, and in that case do we really need the third parameter?

[2015-08-25 12:50] csvan commented on #78
@bajtos - would it not be possible to generate a wrapper function for the `link` methods, which simply nulls the third parameter before passing it on to Resource?

[2015-08-25 13:19] bajtos commented on #78
It is possible, although I don't like that. Let me explain why: at the moment, lb-services have the same API as ngResource. You are proposing to subtly deviate from that API and provide custom function signatures for certain model methods. I think that would create even more confusion than we have right now.

I think the best solution is to bite the bullet, drop ngResource and rewrite the code gen

[2015-08-25 16:29] csvan commented on #78
@bajtos - I realise I was vague in my previous comment, I did not mean to imply API breakage wrt Resource, just a utility function with the same API which nulls the third parameter if it is not provided by the user, in order to avoid this issue. I realise that this still deviates slightly from the expected API behavior, but it is preferable to passing null (which really makes no sense).

That said

[2015-08-31 16:14] #172 closed

[2015-09-07 08:22] ernie58 commented on #170
I'm having this issue to.
Currently I work around it by adding an extra id parameter in the request body:

`Company.categories.link({id: $scope.company.id, fk: category.id}, {id: 0})`

Strangely, not all of my models have this problem when linking them. I'm trying to see why they behave differently, but I can't find anything at first sight

[2015-09-07 08:49] ernie58 commented on #170
This works also:
`Company.categories.link({id: $scope.company.id, fk: category.id}, null)`

After further investigating, I have the problem in all of my models.
I'm using grunt-loopback-angular-sdk (which uses loopback-angular-sdk 1.4.1)
When I look in my generated service I don't have the id parameter, only the fk:

    params: {
         'fk': '@fk'
        },

What version of the generator are

[2015-09-07 12:04] ilya-khaustov commented on #170
@ernie58 `npm show loopback-sdk-angular` shows that version is 1.5.0.

[2015-09-07 12:05] ernie58 commented on #170
That could be why I don't see the id-parameter

[2015-09-07 12:10] ilya-khaustov commented on #170
@ernie58 No, I guess this version is OK. I rerun `lb-ng` command just now and the original faulty snippet is not present in the generated code. Issue can be closed by now, however it stays a mystery whether somebody fixed it or it was my models configuration failure.

[2015-09-07 13:45] erikverheij commented on #78
I was also thinking of a wrapper. I'll stick with the workaround for the moment.

[2015-09-08 05:31] rkmax opened #176 "allow customize prefix on LoopBackAuth"
Allow customize the [prefix](https://github.com/strongloop/loopback-sdk-angular/blob/master/lib/services.template.ejs#L263) `$LoopBack$` for any other value

[2015-09-14 09:01] AlmaasAre opened #179 "Quota exceeded on local/session-storage in Safari Ingocnito-mode"
It would be nice to wrap all the calls to sessionStorage and localStorage in a try/catch, and use a memory storage as a fallback when they are not supported.

Seems like both local and sessionStorage explodes with errors about Quota exceeded on Safari in incognito mode. And i suspect the same thing goes for safari on ios 7..

http://stackoverflow.com/questions/14555347/html5-localstorage-error-wit

[2015-09-14 09:27] kennethlynne commented on #179
https://gist.github.com/juliocesar/926500

try catch å skrive og lese til localstorage og session storage, og failer det så fall back til det (in memory storage).

[2015-09-14 09:28] kennethlynne commented on #179
https://gist.github.com/remy/350433

[2015-09-23 10:28] acourtiol commented on #176
:+1:

[2015-09-26 11:16] vvaleriu opened #180 "lbService generate a bad address request"
Hi,

I have a custom method in my strongloop application :
[code]
I use the lb-ng to generate an angularjs service.

In my angular I request the method with :
[code]
When I request it through my angular app, the requested address is :
[code]
where it should be :
[code]

It used to work before but I re-generated the lb-service.js with the lb-ng command line tool.
Beside, the address returns the exp

[2015-09-28 17:07] jrschumacher commented on #112
@bajtos where can I find the method which strips out the keys with `undefined` values? Personally I'd either like an error thrown or convert `undefined` to `null`.

[2015-09-29 17:13] bajtos commented on #112
@jrschumacher If the `fk` parameter is encoded in the request URL (sorry, don't have enough time to check it myself), then you need to look at Angular's ngResource: https://github.com/angular/angular.js/blob/v1.4.x/src/ngResource/resource.js#L448-L461

[2015-09-29 17:15] bajtos commented on #112
To be honest, I think this issue is another good argument why we should drop ngResource and generate a client API that is more-or-less the same as the server API - see #133.

[2015-10-06 03:06] colinkho commented on #161
I am experiencing this too. Any update?

[2015-10-13 16:17] rkmax opened #182 "bulkUpdate method is missing"

[2015-10-15 06:29] bajtos opened #183 "Support change-stream and liveset"
It would be nice to extend the generator to emit a different implementation of `PersistedModel.createChangeStream()`, so that the method returns a LiveSet instance.

See https://github.com/strongloop/angular-live-set-example/issues/4

[2015-10-15 07:11] EmileSpecs commented on #183
It is a little confusing however that this is in the generated User service:
[code]
It's because this simply seems to make a POST call to the `change-stream` endpoint and doesn't return any actual "change stream".

At it's simplest one would simply expect something like:
[code]

Which would return the change stream that one could either listen for changes on:
[code]
Or use it to create a LiveSet:

[2015-10-15 09:58] bajtos commented on #183
I'd say that ideally yes, your proposal is what it would be. Possibly with a small change - we may need to change `createChangeStream` to a promise that is eventually resolved as the stream object.

[2015-10-19 16:06] gausie opened #186 "Optionally disable console errors"

[2015-10-21 11:57] proreact-mj opened #187 "Error generating "ManyThrough" with explicit FK in through-models "BelongsTo""
Soo.
I'm trying to generate my Angular SDK, but keep geeting these for my M:N (ManyThrough) relations
_Warning: scope [from model].[to model] targets class "["belongs" relation name]", which is not exposed via remoting. The Angular code for this scope won't be generated._

Note that this is during testing and initial setup, all models, even the relation models are public and everything works from

[2015-10-22 10:51] bajtos commented on #180
The AngularJS API passes the parameters via a key-value map, not positionally:

[code]

See [docs](https://docs.strongloop.com/display/LB/AngularJS+JavaScript+SDK#AngularJSJavaScriptSDK-ModelresourceAPI) for more details.

[2015-10-22 10:51] #180 closed

[2015-10-26 13:55] cajoy opened #188 "Support for Angular2"
Is anyone working on SDK for Angular2?

[2015-11-04 14:51] chule143 opened #190 "Relational model create"
When I try to create a item for a related model:

[code]

I get this error in the console:

https://docs.angularjs.org/error/$resource/badcfg?p0=::create::Costumer::order&p1=object&p2=array&p3=POST&p4=undefined

[code]

But this is the answer on the network tab:
[code]

[2015-11-16 23:01] arimus commented on #188
Yeah, I'm also curious if Strongloop is working on building out support for this or waiting for the community to go down that road first.

[2015-11-18 20:08] davidcheung commented on #190
Hi there, I believe the `createMany` method might be what you were looking for,
documentations can be launched upon the generated services via `lb-ng-doc <path-to-lb-services.js>` for models you've created via docular

You should be able to see a method `createMany` which handles multiple

[code]

Hope this solves your issue

[2015-11-18 20:30] davidcheung commented on #186
Hi @gausie
Can you clarify about optionally disabling console errors,
are you referring to HTTP errors from the ajax calls?
the CRUD methods services call, AFAIK the methods are called via [`$ngResource`](https://docs.angularjs.org/api/ngResource/service/$resource#example) of Angularjs
which then throws regular
if not would you be able provide more details of your feature request?

[2015-11-18 20:58] davidcheung commented on #182
Hi @rkmax, I believe the `updateAll` method might be what you were looking for,
documentations can be launched upon the generated services via `lb-ng-doc <path-to-lb-services.js>` for models you've created via docular ,

If I understand your problem correctly I believe you can achieve what you want by using `updateAll` with the `where` filter, [see more about where filter](https://docs.strongloop.

[2015-11-18 22:26] rkmax commented on #182
@davidcheung I dont think so. because .updateAll() does the same change for every record that match the criteria but [bulkUpdate](https://apidocs.strongloop.com/loopback/#persistedmodel-bulkupdate) performs a list of updates. I need the second behavior

[2015-11-19 07:35] daslicht commented on #188
+1

[2015-11-19 16:13] bajtos commented on #188
Hi @cajoy, thank you for raising this request. We don't have any immediate plans to support specifically Angular2.

I haven't looked at the differences related to data access between Angular1 and Angular2, could you perhaps point me to a short overview?

In general, I would like to move away from angular-specific client API like `ngResource`, because the subtle differences between Angular client A

[2015-11-20 09:49] gausie commented on #186
I'm referring to the `console.error`s in the code.

For example https://github.com/strongloop/loopback-sdk-angular/blob/master/lib/services.js#L144

[2015-11-20 15:30] bajtos commented on #174
Hi @csvan, the method `Model.destroyAll` is not exposed via REST API by default because we consider it as rather dangerous. Once you enable it (see e.g. https://github.com/strongloop/loopback/issues/491#issuecomment-116833323), you should re-generate your Angular client to get the method included.

[2015-11-20 15:31] bajtos commented on #174
I think it would be good to include this info in the documentation:
 - why `destroyAll` is not available via REST API by default
 - how to expose it

[2015-11-20 16:59] csvan commented on #174
@bajtos I agree that it is dangerous, but IMO that judgment call should be left to devs to make. First and foremost, I think devs expect a consistent API, which they can then configure to whatever degree their security and other needs may be.

[2015-11-20 19:31] cajoy commented on #188
For those who might be interesting I've created base model for extending. There is just couple of endpoints implemented..

https://github.com/cajoy/falloutlab.com/blob/master/client/scripts/models/BaseResource.ts

and model example:

https://github.com/cajoy/falloutlab.com/blob/master/client/scripts/models/PerkModel.ts

usage as simple as

[code]

[2015-11-20 21:08] davidcheung commented on #171
hi @njcaruso
Passing `parameters` and `credentials` in 2 separate parameters should solve your issue, and undefined does default to `true`
[Login functions docs](https://apidocs.strongloop.com/loopback-sdk-angular/#user-login)
[code]

Hope this solves your issue

[2015-11-20 21:14] davidcheung commented on #170
Glad to hear issue is resolved, please raise the issue again if you run into it in the future, closing ticket :)

[2015-11-20 21:15] #170 closed

[2015-11-20 21:21] davidcheung commented on #182
@rkmax you're right, I will add the feature tag to it, in the mean while not sure if [this approach](https://github.com/strongloop/loopback/issues/491#issuecomment-116833323) can be a work-around.

[2015-11-21 02:27] nidhhoggr opened #192 "namespacing LoopBackResource and LoopBackAuth"
Is there a way you can provide an option in the lb-service.js generator to namespace the angular services mentioned in the title. The issue is that I have a client that is dependent on multiple loopback API's and therefore requires multiple lb-services for DI in my angular app config. The AppAuth and other services are clashing. As of now I have to manually rename all of the services and modules a

[2015-11-21 19:30] #154 closed

[2015-11-23 14:18] bajtos commented on #179
@davidcheung IMO this is major bug, our SDK should support incognito mode out of the box.

As for the solution - I'd prefer to check whether `window.localStorage` is defined, and if it's not, then save/load operation should become no-ops.

@AlmaasAre @kennethlynne this bug is pretty easy to fix, would you mind contributing the patch yourself? Here is the place where to start looking: [lib/services

[2015-11-23 14:26] AlmaasAre commented on #179
Lot to do in the coming days, but if i have time, then sure. It's a low hanging fruit

window.localStorage is defined in ingocnito mode in safari, that's the problem. So have try to save something to localStorage and wrap it with a try/catch, and fallback to memory if exception is thrown.

[2015-11-23 14:47] davidcheung commented on #192
Not sure if this is what you were looking for, the [`lb-ng` command](https://docs.strongloop.com/display/public/LB/AngularJS+JavaScript+SDK#AngularJSJavaScriptSDK-lb-ngcommand)  does have a feature to pass a module-name, if I misunderstood you please clarify, thanks!

[2015-11-23 19:40] zmijevik commented on #192
It seems like this command accounts for the module name but not the service name or providers. According to angular documenation, there is no feature to prevent from service/provider name from clashing with other modules that contain the same service or provider name.

[2015-11-24 20:53] #132 closed

[2015-11-25 11:00] proreact-mj commented on #187
https://github.com/proreact-mj/loopback-sandbox

Further testing:
I manually created models (phys, client, appointment) with slc, for this it works.
I added the models from my own project (Resident, Activity and ActivityResponsibleResident) these have been migrated from a MySQL, but not attached to the default "db" source.
phys has many clients through appointment and reverse
Resident has many Act

[2015-11-25 16:18] davidcheung commented on #169
Looks like this [feature](https://github.com/strongloop/loopback-sdk-angular/commit/b3a7c2608c61fbb72b5afa5a82545f15b9d58867) has been added now

Closing issue.

[2015-11-25 16:18] #169 closed

[2015-11-25 22:19] davidcheung commented on #167
hi @csvan, sounds like a bug, would you know if this issue happens only with `utc()` or any `dates`? or it is an issue with angularSDK parsing `where filter` on just datatype `Date`?, would you be able to create a sample repo to [reproduce the issue](https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report)?
Thanks

[2015-11-25 22:28] davidcheung commented on #164
Hi @dthib, I believe third-party-integrations would be more likely to be implemented on the server-side as it will consist of you `app_id` and `app_secret` depending on the services, [loopback-component-passport](https://github.com/strongloop/loopback-component-passport) or [loopback-component-oauth2](https://github.com/strongloop/loopback-component-oauth2) might be helpful for your implementation

[2015-11-25 22:28] #164 closed

[2015-11-25 22:36] davidcheung commented on #163
Hi @florianheinze, Thanks for raising the issue, Looks like it is related to #179, and likely will be fixed upon handling `localStorage` fallback for Safari as well. Tagging the issue for future reference to handle scenarios such as `wkhtmltopdf `.

[2015-11-25 22:43] davidcheung commented on #161
hi @hikkyu and @colinkho, I am unable to reproduce this issue, are you using the latest version of the components? Would you be able to provide a link to a test project with steps to reproduce the issue? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report. Thanks!

[2015-11-25 22:57] davidcheung commented on #158
Hi @dlutz2, hope @xixilive's answer solved your question, the [include filter](https://docs.strongloop.com/display/public/LB/Include+filter) and [where filter](https://docs.strongloop.com/display/public/LB/Where+filter) could be useful

not sure if I am understanding your scenario properly but this might also be helpful
[code]
Unfortunately we only accept `feature requests` and `bug reports` on Gi

[2015-11-25 22:57] #158 closed

[2015-11-25 23:12] davidcheung commented on #152
Hi @anhtuan9113 , hope jonathan-casarrubias's answer solved your question, the [include filter](https://docs.strongloop.com/display/public/LB/Include+filter) and [where filter](https://docs.strongloop.com/display/public/LB/Where+filter) could be useful.

Unfortunately we only accept `feature requests` and `bug reports` on Github Issues, if you still have questions please refer to [this link](https

[2015-11-25 23:12] #152 closed

[2015-11-25 23:30] davidcheung commented on #153
Hi @ssegeo, Can you clarify on features you're suggesting for your feature request, I came across [this issue](https://github.com/strongloop/loopback-sdk-angular/issues/146#issuecomment-111485593) where user was able to add a customer interceptor, not sure if that would fit your scenario as well, or I'm completely missing what you are saying.

Thanks!
/cc
@bajtos

[2015-11-25 23:47] davidcheung commented on #161
Looks like @npedrini is running into same issue, leaving his comment here to help troubleshoot + reproduce

[2015-11-26 08:43] csvan commented on #167
@davidcheung - I forgot about this issue actually :) It is not a problem with Loopback, but my code. The reason this happens is that the startOf and endOf methods are mutating, and hence both passed dates correspond to the value of the last call to endOf.

[2015-11-26 08:43] #167 closed

[2015-11-26 15:50] bajtos commented on #179
@AlmaasAre I don't have a strong opinion, I'm ok with any approach that keeps the code reasonably simple and easy to maintain.

[2015-11-30 23:00] superkhau commented on #119
@alexthewilde Can you provide a link to a test project with steps to reproduce the issue? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report.

[2015-11-30 23:01] superkhau commented on #119
@chandadharap Taking out of TOB because this issue is not fully triaged yet. Adding major label also to make sure we look at it.

[2015-12-02 15:36] mariohmol commented on #120
just to confirm, if i upsert a model with childs, it wont update the attributes changed in child/related modesl.. correct?

in this example, owner and agent will not be updated..

[2015-12-03 11:02] ssegeo commented on #153
Hello @davidcheung , I hope this makes it clearer, I am working with AngularJS, using the $resource endpoints generated by loopback, what i want is to be able to write an interceptor (at the backend) which will be automatically included|bundled together with all the resource endpoints that will be generated by the loopback tool, or partially included in some of the resource endpoints generated, le

[2015-12-03 14:21] mariohmol commented on #44
I had a similar problem and it was related to password with a small size.. it has a validation somewhere but do not rise a error.. it just put null in place of it

[2015-12-03 19:29] chule143 commented on #190
Hi David, sorry for the delay in the answer, your example works great!!!, there is any way to create many records in a related model?, like this example?:
[code]

[2015-12-03 19:29] #190 closed

[2015-12-07 19:53] gustavomick commented on #187
trying to add more info, i have this example:

ent.json

[code]
ent-graph.json

[code]
i made a "self referenced" model (like a graph) both working at api/explorer level ({"include":["children","parents"]}) but at lb-ng level Ent.children is generated but Ent.parents is not.

ref: https://docs.strongloop.com/display/public/LB/HasManyThrough+relations#HasManyThroughrelations-Selfthrough

[2015-12-07 21:57] davidcheung commented on #153
Hi @ssegeo, I believe we are looking to have our implementation move away from `$resource` towards `$http` or `our universal/isomorphic client` for a more generic solution. Some information about our plans [`angular 2`](https://github.com/strongloop/loopback-sdk-angular/issues/188#issuecomment-158104103), [`pluggable-http-client`](https://github.com/strongloop/loopback/issues/1211). I don't think

[2015-12-09 10:40] jaideepdas opened #195 "Ability to user-authenticate via headers:authorization"
I am working on a app where I have to use phantomjs to download the view as pdf, now for phantomjs able to render the page I need to pass access_token to the api, as its a angular app using the loopback sdk. Is there a way I can set the auth_token for the app to login.

I am using https://github.com/sgentle/phantomjs-node on the server side and have tried by setting the header also like this

[cod

[2015-12-10 11:57] ssegeo commented on #153
Thanks @davidcheung , I will go with that and hopefully when I get it implemented I will contribute a pull request.

[2015-12-10 14:59] davidcheung commented on #171
@njcaruso, I hope the above solution solved your issue, Closing this ticket, if you feel like this is a bug  or I misunderstood what you were saying please reopen ticket. You can also use our [Google groups](https://groups.google.com/forum/#!forum/loopbackjs) to ask questions :)

[2015-12-10 14:59] #171 closed

[2015-12-10 16:49] njcaruso commented on #171
Thanks!

[2015-12-11 16:35] davidcheung commented on #195
hi @jaideepdas, not sure if I understand your situation correctly, but you are trying to get the accessToken in Loopback, not sure if [this issue](https://github.com/strongloop/loopback/issues/569)  is tackling the same issue.
We only accept `feature requests` and `bug reports` on the github issues page
https://github.com/strongloop/loopback/wiki/Questions, if you have further questions please use

[2015-12-11 17:40] jaideepdas commented on #195
This is kinda feature request. To test my angular app which is auth protected I need phantom to be able to set access token. So it will be a good feature if the sdk finds a access token in the header of the request, even if we haven't used .login() function of the sdk to authenticate we can authenticate the user based on the header value if its valid.

[2015-12-11 19:59] davidcheung commented on #195
Sorry @jaideepdas, I have reopened the issue as it does seem like a feature request, but I'm unsure if I understand what you are suggesting. If you could clarify more of the context of the SDK feature you would like to see?
Are you saying when the Application initiates, it would also understand it is logged in as a user based on `Headers:Authorization` instead of `session`/`localStorage`?

[2015-12-11 20:13] jaideepdas commented on #195
I am saying how about both, we check both, if server is sending authorization then use that, if there is no authorization header but local storage has then use that.
So my use case is that I am using phantom js to capture a angular view and covert to pdf. Now as in phantom I have set the header based on the current logged in user, but the angular sdk wont consider it. So I don't have a session wit

[2015-12-11 21:12] davidcheung commented on #195
@jaideepdas right, I believe its much clearer now, `instead` was a poor choice of word on my end, sorry for that.

Okay that make sense, would you mind changing the title to something more inline of a feature request, maybe something like

I believe there will also be some decision needs to be made for what receives precedence in different scenarios.
I doubt this will make it into our priority for

[2015-12-12 09:00] jaideepdas commented on #195
regarding pull request I am not sure what you mean by that, you want me to work on this change and send a pull request ?

[2015-12-15 10:28] geekguy commented on #44
I second @mariohmol.  started facing this issue in latest version.

[2015-12-15 15:18] davidcheung commented on #195
@jaideepdas yes if you don't mind that would be great, then we can discuss implementation and concerns in the PR as well.

One more clarification, are you trying to bypass using the LoopBackAuth login and use the `model` resources methods that requires user to be logged in, correct? (this would mean we need to provide way to pass in Header Auth in all resources)

Or you are trying to become `logge

[2015-12-17 14:51] chule143 opened #196 "Date format is subtracted by one day"
When a date is received from the backend, is received correctly, but when it's parsed in angular is substracted by one day:

[code]

[code]
[Fiddle](http://jsfiddle.net/jby6Lanp/1/)

[2015-12-17 16:54] CWSpear commented on #188
Now that Angular 2 is in Beta, it is worth discussing this topic further.

Angular 2 got rid of the `$scope.$apply` and similar concepts. The regular vanilla "[isomorphic LoopBack](https://docs.strongloop.com/display/public/LB/LoopBack+in+the+client)" in theory would work.

So you may not need an Angular specific SDK... you can just build up your isomorphic LoopBack story and provide a better onbo

[2015-12-17 20:10] davidcheung commented on #196
Hi @chule143

This is actually a javascript behavior, when you declare the date it has no timezone concept, but browser interprets it with the concept of timezone. [See this example](http://jsfiddle.net/z4an9w3n/).
Hope this helps,

Not sure changing our default behavior is a good idea, it could be a future thing to add option to handle timezone(changing the format via passed in `options`?), so th

[2015-12-18 01:43] chule143 commented on #196
Hi @davidcheung,

Thank you for your answer :) , this is the link in the google group:

[https://groups.google.com/forum/#!topic/loopbackjs/1bLR_HMHzkA](https://groups.google.com/forum/#!topic/loopbackjs/1bLR_HMHzkA)

[2015-12-18 21:43] davidcheung commented on #196
Closing issue now, can discuss further on google groups :)

[2015-12-18 21:43] #196 closed

[2015-12-27 05:08] JonnyBGod commented on #188
I agree with @CWSpear. And would like to add that api requests should be placed outside controllers and directives and live on services.

Because Angular2 services are plain simple classes the isomorphic Loopback can be used.

I would like to propose adopting ES2015 for an improved implementation. This would bring the code up to date and we can easily compile to ES5 if needed. Also we would end up

[2015-12-30 13:20] martinjuhasz opened #197 "clear logged in user if logout fails"
i came across the following situation:

i logged in successfully as a user using `User.login()` on the client side. After some time, the access token got wiped from the server side. on the client side the user still had it's old access token stored locally and made requests with that (that now all failed ofc).
Now if the user clicks the logout link, calling `User.logout()`, fails in an 500 error f

[2016-01-05 10:44] jaideepdas commented on #195
Could you please suggest a stop gap solution so that I wrap up my task.

[2016-01-06 22:36] wrensburg opened #199 "methodNames with "dashes" cause syntax error"
Our project, uses api names that have dashes in them. An example is: `/sliding-doors/`. When the sdk generator runs, it pulls the names from the rest'ful API, instead of the actual model name (maybe), causing there to be a syntax error in the resulting .js file.

The error lies here: https://github.com/strongloop/loopback-sdk-angular/blob/master/lib/services.template.ejs#L260

Notice the bad templ

[2016-01-07 02:48] CWSpear commented on #188
So I have been having a hard time getting "isomorphic LoopBack" working. I tried building the bundle with browserify via the [example](https://docs.strongloop.com/display/LB/Running+LoopBack+in+the+browser) (it was almost 3 MB!) and couldn't actually ever make it work.

The current `lb-ng` tool created a build from the config in https://github.com/strongloop/loopback-example-isomorphic that was ab

[2016-01-07 21:34] duffn commented on #114
This particular config shows 50 issues for a service I just generated. I know this is an old issue and would be happy to take on an update to get the generated code to conform.

[2016-01-07 21:42] davidcheung commented on #197
@martinjuhasz thanks for bring this up, I'm actually not sure whether logout 500 should trigger a client side to `clearUser() and clearStorage()`, or maybe `token not found` should not throw `500`? or both? But I agree that something should be improved in this scenario.
@bajtos any thoughts?

[2016-01-08 08:47] dfeddad opened #200 "CommonJS and es6 module support"
I usually use Browserify and Webpack to bundle my code and find it very useful if the generated module can allow the use of CommonJS package manager and ES6 modules.

[code]

[2016-01-13 09:37] vko-online commented on #78
I tried to define many-to-many relation with my Lead and Tag models
Lead model

    relations": {
        "tags": {
          "type": "hasAndBelongsToMany",
          "model": "Tag"
        }
      }

Tag model

    "relations": {
        "leads": {
          "type": "hasAndBelongsToMany",
          "model": "Lead"
        }
      }

First request  works

    Lead.tags.link({id: 1, fk: 1})

Second

[2016-01-13 23:42] mrbatista commented on #197
@martinjuhasz @davidcheung [This](https://github.com/strongloop/loopback-sdk-angular/pull/178/files) pull request solves the problem. Any response of method `logout` must clear token and userId in storage. I need a few minutes to write a test unit before @bajtos merges.

[2016-01-14 14:26] davidcheung commented on #197
Thanks @mrbatista! Will close issue once this is merged.

[2016-01-14 16:02] martinjuhasz commented on #197
nice. thank you all!

[2016-01-14 21:29] iamdeadman opened #204 "Strongloop exposing "_id" attribute to only the users owning the object"
I have a couple of models(Tuition, Tutor) and my tuition.json model definition file is as attacked
Now, I am trying to call Tuition.applicant.create() but the call "Tuition.find" does not return any id's for the user which did not create the object. So, how can I achieve this

[models.zip](https://github.com/strongloop/loopback-sdk-angular/files/91028/models.zip)

[2016-01-14 21:40] 0candy commented on #200
Would you like to submit a patch?

[2016-01-15 10:25] dfeddad commented on #200
@0candy I submitted a pull request. Please check https://github.com/strongloop/loopback-sdk-angular/pull/201

[2016-01-15 14:51] 0candy commented on #200
Thank you for your pull request. We will review it and get back to you.

[2016-01-19 15:50] jonathan-casarrubias commented on #188
It would be awesome if a framework agnostic sdk is built, and event better if it provides some sort of adapter to customise how request are being done, perhaps you want to use standard http, but maybe you want to use RxJS, so you could be able to create an adapter and use it instead of the HTTP library.

This concept is being used by the socket.io clustering feature, where they provide a standard

[2016-01-20 10:57] jmkgreen opened #205 "Where is my documentation?"
I have followed what appears to be the "Loopback way" and documented my model with a description in the `model.json` file.

I can see this description in the API Explorer, but not within the lbServices file so I now have a developer producing the client who rightly complains that he has no idea what's what.

Am I doing something wrong..?

[2016-01-20 14:57] masalinas opened #206 "Error when passing only path atributes on the REST"
I have the next problem:
First I have a method model defines like this:

´´´javascript
    Braintree.remoteMethod (
        'sale',
        {
            description: "Fix transaction sale Braintree customer",
            accepts: [{arg: 'customerId', description: 'Customer Id', type: 'any', required: true, http: {source: 'path'}},
                      {arg: 'amount', description: 'Amount', type:

[2016-01-22 16:58] johannesjo commented on #118
This is still an issue for me using loopback@2.26.2

[2016-01-25 21:38] davidcheung commented on #163
Related : https://github.com/strongloop/loopback-sdk-angular/pull/203

[2016-01-25 22:11] davidcheung commented on #166
@csvan looking at old open issues,
I wasn't aware of this before but the same issue is addressed by the [`gulp-loopback-sdk-angular`](https://github.com/strongloop/gulp-loopback-sdk-angular) module

you mentioned you already had an alternative solution to this, but just for your reference you could probably do something such as this, following the `gulp-loopback-sdk-angular`

[code]

[code]

I'm c

[2016-01-25 22:11] #166 closed

[2016-01-27 15:42] JonnyBGod commented on #188
After looking a bit deeper into this subject my main thought is: Why reinventing the wheel?

For most of us, creating api servers we probably need to provide many different clients for our customers as well as our own frontend clients. So why not bjust build this on top of swagger-codegen?

There are templates for most of the languages out there and also found templates for angularjs and a new (wo

[2016-01-27 19:29] davidcheung commented on #118
Reopening issue to troubleshoot.
@johannesjo can you describe how is it failing for you?  or steps to reproduce your scenario.
and please note that the behavior currently for `rememebrMe` is `undefined` reoslve as `true` to preserve backwards compatibility.

[2016-01-27 20:03] johannesjo commented on #118
Actually it turned out to be a misconfiguration in my router module, which was not properly checking for a logged in user. Sorry for trouble.

[2016-01-27 20:39] davidcheung commented on #118
@johannesjo haha no problem, closing issue :)

[2016-01-27 20:39] #118 closed

[2016-01-28 10:22] ilkkanisula commented on #188
+1

[2016-01-28 12:13] #179 closed

[2016-02-01 11:25] dev-augmenta commented on #118
Actually the bug is still there. The auto generate lb-services.js for the User.login function is checking the "rememberMe" param in response.config.params while it should be in response.config.data.

If your are controlling session, login and access via Angular, change the User.login to this

LoopBackAuth.rememberMe = response.config.data.rememberMe !== false;

[2016-02-01 14:28] davidcheung commented on #118
@dev-augmenta, Thanks for bringing this up, I believe this is done to preserve the behavior before where `rememberMe = false` was added as an option. I do agree this brings confusion for the users, maybe we could look to change the default in a major release. The current behavior is [documented here](https://apidocs.strongloop.com/loopback-sdk-angular/#user-login).

/cc @bajtos any thoughts?

[2016-02-01 19:19] prabhdeep-singh commented on #74
@frankcarey
Hi Frank, I tried your solution to get the redirected url with access_token attached as params to it but it gives me this error:

`404 Error: Cannot GET /login/callback?access_token=xxxxxxxxxxxxxxxxxx&userId=1`

It successfully authenticates from the facebook and gives the token but somehow it does not pick the redirected URL.

I'm using ui-router and have state setup for url "/login/c

[2016-02-01 22:18] davidcheung commented on #195
@jaideepdas Sorry for the late reply, is this still an issue for you? I'm not too sure the best way to solve this

I believe you can put a workaround at https://github.com/strongloop/loopback-sdk-angular/blob/master/lib/services.template.ejs#L289-L295
perhaps something like a new `function setUserByHeader()` maybe before `load()`? To provide LoopBackAuth the info needed for setUser `accessToken.id

[2016-02-02 06:55] jaideepdas commented on #195
yeah issue remains but this functionality is put on hold, but thanks for the suggestion. but shouldn't we put this feature in the sdk itself instead of people putting individual hacks.

[2016-02-02 14:38] davidcheung commented on #195
@jaideepdas yes we have labelled this as a feature request, but unfortunately we have quite a backlog of feature requests and bug fixes, there are no promises that this can be delivered in a timely manner.

[2016-02-03 02:49] superkhau commented on #119
@0candy Reassigning to you since you are the repo expert now.

[2016-02-04 11:04] proreact-mj commented on #187
Any chance this bug will get some love soon? It is a bit of a hassel for me to maintain a branch with "wrong code" just to enable lb-ng generator functionality.

[2016-02-06 18:55] tuhoojabotti commented on #188
:+1:

[2016-02-08 19:44] johannesjo commented on #182
+1

[2016-02-18 04:57] saystone commented on #161
I have same issue. any updates?

[2016-02-22 09:48] JoshElias commented on #188
+1

[2016-02-22 11:06] phra commented on #188
any infos on when this PR (https://github.com/strongloop/loopback-sdk-angular-cli/pull/38) will be merged?

[2016-02-23 12:38] mehlleniumfalke commented on #74
I got the same problem here. Trying to establish a loopback-passport-angular app for simple time logging. Here is whats happening:

1. Login via Button
2. Button redirects to google and auths
3. redirect back to my app

Now i got userId and accessToken in my local storage. But they are not plain.
So how do is got the userId in Plain to work with and tell my app that the currentUser is logged in?
T

[2016-03-02 03:17] yanisIk commented on #188
+1

[2016-03-02 16:11] bajtos commented on #188
:+1:

We have already started to look into ways how to utilize swagger-codegen for creating a Swift client. Along the way, we discovered few issues in loopback-swagger, some of them are being fixed right now.

I'd like to encourage everybody subscribed to this thread: give swagger-codegen a try, let us know here how it works for you. If there is anything we can improve in swagger-codegen to make t

[2016-03-02 16:29] phra commented on #188
@bajtos in the meanwhile you can accept [THIS](https://github.com/strongloop/loopback-sdk-angular/pull/208) and [THIS](https://github.com/strongloop/loopback-sdk-angular-cli/pull/38) in order to gain beta support for angular2 and let people around the world to test this feature (and hopefully finalize that template) from an **angular2 branch on the official repository** instead of to work on "_ran

[2016-03-04 15:35] jmls commented on #128
so I take it that no work has been done on this yet ?

[2016-03-14 07:25] sespinosa opened #211 "$save uses upsert and sends id as a get parameter"
Im trying to edit user attributes in this way

[code]

The problem is, the request its being made to

http://localhost:3000/api/Clients?id=3

I was checking the generated service and the $save method uses upsert even if the instance exists in the datasource.

So upsert sends the id as a get param and loopback cant resolve that (idk), and responds with 401,

But if i change the ?id=3 for a /3 as in

[2016-03-14 09:06] phra commented on #188
does somebody already look at this project? https://github.com/wcandillon/swagger-js-codegen
it states: " A Swagger Codegen for typescript, nodejs & angularjs"

[2016-03-23 06:17] anagrath opened #212 "BUG: User#getCurrent does not handle error"
Reproduce steps:
1.) Login with a user
2.) Go directly to DB and remove access token for that user
3.) Go to secure page and print isAuthenticated

Expected: isAuthenticated should be false
Actual: isAuthenticated is true

The issue can be resolved fairly easily.  The currentUserData is null because authentication fails from server side.  If currentUserData is null, we should clear the currentUser

[2016-03-26 22:25] cmoore4 opened #213 "lb-ng Generates duplicate keys in object JSON when remote method is defined both in js and json files"
If a remote method is defined in a model's JS file and in its JSON file, if you run lb-ng on the models, the angular sdk outputs an object with duplicate keys(one key from the JSON definition, one from the js implementation).  This violates the 'use strict' declaration of the function, and causes the file not to load at all.

[code]

[code]

Generates this:
https://github.com/cmoore4/loopback-angu

[2016-03-30 16:25] bajtos commented on #188
@phra sorry for the long delay, we are a bit behind on reviewing & landing community pull requests. I am aware of swagger-js-codegen, I think it has been recently merged into [swagger-codegen](https://github.com/swagger-api/swagger-codegen) which supports many different languages.

In the long term, we would like to move away from code generators specific to loopback and invest our efforts into a

[2016-03-30 18:18] 0candy commented on #213
Is there a reason why you added the remote method to both the model js file and the json file?

[2016-03-30 20:05] cmoore4 commented on #213
Hello Candy,

There's very little documentation around the "methods" section in the model json file,

https://docs.strongloop.com/display/public/LB/Model+definition+JSON+file#ModeldefinitionJSONfile-Methods

I assumed this meant I *could* declare them in the json file, but also had to declare them in code. Pragmatically, I like my whole API contract to be easily groked by my developers within the

[2016-03-30 20:29] 0candy commented on #213
Hi Sean,
Thank you for the clarification. I can see that the documentation can cause confusion. Once you get a chance to add unit tests to your PR, we can get that reviewed and merged in.

[2016-04-02 12:12] kennethlynne opened #216 "Cannot resolve path "cors""
All of a sudden this error message started to occur. Builds where passing on our CI up until recently, and now even rebuilding old build fails, so I am quite certain it is some of our loopback dependencies that is the culprit.

[code]

[2016-04-04 21:14] davidcheung commented on #163
Hi @florianheinze, would you be able to verify if this issue is fixed by #203?
Thanks!

[2016-04-06 22:04] GonzaGonza commented on #216
`npm install cors`

fixed this issue

[2016-04-12 04:23] asemoon commented on #188
+1

[2016-04-19 19:53] #114 closed

[2016-04-19 19:55] davidcheung commented on #114
Landed #218, npm test will now run eslint post unit-test. And double quote has been added as an exception for that file, given that often deployments will include minifying the code.

[2016-04-23 02:35] kororo commented on #188
+1

[2016-04-26 02:42] TeknoloGenie commented on #22
I was looking for an example through google for the example that both @reichert621 and @bajtos provided and couldn't find it, low and behold its been relocation to the `production` branch, heres the link for future googler's. [angular file upload using `loopback-component-storage` ](https://github.com/strongloop/loopback-component-storage/blob/production/example-2.0)

[2016-04-29 18:02] jmls opened #220 "fk findbyid include filter"
I have a "Customer" and "Order" model. The Customer hasMany Orders

The rest api states that I can get

    /api/customers/:id/orders/:fk

so /api/customers/1/orders/6 should get me order #6 of customer #1 - and it does!

in angular, I can do

    customer.orders.findById({id: 1, fk: 6})

and that also gets me the correct order.

However, order may have a boatload of fields that I may not want, so

[2016-05-02 10:47] jlister76 commented on #188
+1

[2016-05-02 18:02] k3n3l commented on #120
Hi

I have the same problem, when I try to save a modified object, without make changes on relative attributes, these are lost.

[2016-05-02 19:50] jonathan-casarrubias commented on #220
Hi @jmls you can not use the include filter on findById.. you will need to update your query to something like:

[code]

Cheers, Jon

[2016-05-03 21:17] markusiseli opened #221 "lb-ng: Issue when working with related models"
Given two simple related models: user and answer, defined as follows:
user.json:
[code]
and answer.json:
[code]
The client-side code runs fine, does all the user authentication etc. but creating an answer instance, given the user model using `User.answers.create({"id": some_user_id}, {some_answer_json});` throws an **Uncaught TypeError: Cannot set property 'create' of undefined**.

I tracked the e

[2016-05-03 21:22] dancingshell opened #222 "Nested private relations not generated"
Nested relations that are set to `public:false` in the `model-config.json` are available through their parent models in the explorer, but not generated through lb-ng. Lb-ng seems to ignore all models not set to public.
Currently to access child model in the generated angular the model has to be public. I would like to be able to set models to private so that I can only create them through their pa

[2016-05-04 00:12] cristianurbano commented on #188
+1000

[2016-05-04 00:14] sergiolepore commented on #188
@cristianurbano lol

[2016-05-09 17:50] dancingshell commented on #221
@markusiseli not sure if this is the fix, but you may need to explicitly allow methods for these related models in the user ACL (user.json). See https://docs.strongloop.com/display/public/LB/Accessing+related+models#Accessingrelatedmodels-Restrictingaccesstorelatedmodels

example:
[code]

[2016-05-09 23:34] markusiseli commented on #221
@dancingshell thanks for this, it pointed me to the solution.
For security reasons I had disabled all methods by default using a mixin and had only activated the `__create_answers` but not the` __get__answers` method.

Here is an excerpt from my _lb-services.js_ file with my comments:
[code]
Thus, for my current models, the fix was to expose the `__get__answers` method.
I would say that this is a

[2016-05-10 00:52] k1ng440 commented on #188
+1m

[2016-05-10 01:42] jboothe commented on #188
👍

[2016-05-10 15:00] davidcheung commented on #221
Hi @markusiseli, thanks for bringing this up, trying to understand the issue, so basically the bug is:
when in relations a `get` method isnt enabled, the whole Resource isnt defined?

-----

this following line might provide some insight to whomever fixing issue: https://github.com/strongloop/loopback-sdk-angular/blob/279c810747d4061c11f126c19c3e34a67812aa8f/lib/services.template.ejs#L266

[2016-05-10 19:06] davidcheung commented on #222
Hi @dancingshell  the functions get populated for me from the angular-sdk side with a similar settings
do you get any errors from the lb-ng generation? my configs are as follows:

**model-config.json**
[code]
**peasant.json**
[code]

**lb-services.js**
[code]

[2016-05-10 19:11] davidcheung commented on #220
This issue looks like its resolved? @jmls was wondering if you were able to resolve your issue using the solution above, I'm closing the issue now, please feel free to reopen if its still an issue. Thanks

[2016-05-10 19:11] #220 closed

[2016-05-10 19:13] davidcheung commented on #216
Looks like its same issue as https://github.com/strongloop/loopback-boot/issues/179, assuming they are both resolved, closing issue (feel free to reopen if its still an issue), thanks!

[2016-05-10 19:13] #216 closed

[2016-05-10 19:24] davidcheung commented on #212
Hi @anagrath,  can you take a look to see if https://github.com/strongloop/loopback-sdk-angular/commit/4dcf971c55b44cfe820d57a2ccfddfce7f04600c resolves your issue?

[2016-05-10 19:40] markusiseli commented on #221
@davidcheung yes. I used `Model.disableRemoteMethod(methodName, method.isStatic);` in a mixin to disable all methods by default and the `__get__*` method is part of these methods (see: https://github.com/strongloop/loopback/issues/651). Then I enable only the methods I'd like to expose, like `__create__*`. I can generate a gist, please let me know.

[2016-05-10 20:05] davidcheung commented on #205
Hi @jmkgreen, sorry for the late response, is this still an issue for you? I would have thought https://github.com/strongloop/loopback-sdk-angular/pull/191 would have dealt with this issue

[2016-05-10 21:38] davidcheung commented on #221
@markusiseli thanks! that would be great,
I think the main goal of fix should be making sure the behaviour is the same as exposed from strong-remoting, hoping to pin point exactly what triggers the relation resource to be undefined so whomever fixing this bug will have an easier time.

[2016-05-10 22:15] anagrath commented on #212
Will do. I am out of the office. Will take a look on Tuesday the 17th.

Sent from my iPhone

[2016-05-10 23:22] davidcheung commented on #212
Thanks! @anagrath

[2016-05-10 23:31] davidcheung commented on #197
Thanks @mrbatista!
@martinjuhasz I believe this is now fixed via https://github.com/strongloop/loopback-sdk-angular/commit/4dcf971c55b44cfe820d57a2ccfddfce7f04600c
Closing issue now, please reopen it if this remains an issue

[2016-05-10 23:31] #197 closed

[2016-05-10 23:35] davidcheung commented on #163
Hi @florianheinze,
Closing this issue, if ` var localStorage   = window.localStorage   || {};` was able to solve that issue, I believe the try catch should also be able to handle this as it should be a caught error now, please reopen if issue persists. Thanks!

[2016-05-10 23:35] #163 closed

[2016-05-11 01:30] markusiseli commented on #221
@davidcheung please see following repository (did not succeed in generating gist):
https://github.com/markusiseli/loopback-angular-sdk-test
I hope this is ok...

[2016-05-11 13:03] richardpringle commented on #204
Hey @iamdeadman, the best places for questions are as follows:
- [Google Groups](https://groups.google.com/forum/#!forum/loopbackjs)
- [StackOverflow](http://stackoverflow.com/questions/tagged/loopbackjs+or+strongloop?sort=newest&pageSize=50)
- [Gitter](https://gitter.im/strongloop/loopback) (supported, but we prefer posting to Google Groups so others may benefit from the discussions)

I am not qu

[2016-05-11 13:14] richardpringle commented on #206
Hey @masalinas, that makes absolutely no sense to me that GET would work and POST wouldn't... looks like you've found a bug! Just to make sure, I'm going to ask a huge favor of you. Could you please fork a [loopback-sandbox](https://github.com/strongloop/loopback-sandbox) and re-create your issue? Make sure your update the package.json please!

There's a chance that something is going wrong somewh

[2016-05-11 13:23] richardpringle commented on #211
related to #134 <- (I think)

[2016-05-11 13:25] richardpringle commented on #211
@sespinosa are you using mongoDB?

[2016-05-11 13:30] richardpringle commented on #221
@davidcheung, threw a waiting label on here even though in this case we are waiting for you :wink:!

@markusiseli, we generally prefer a repo over a gist! Makes our lives easier when digging for the root cause of an issue, thanks.

[2016-05-11 13:33] richardpringle commented on #148
Hey @piotrvladimir, did you ever resolve this? I am going to close for now but **please re-open if** you did as @bajtos suggested and something still isn't working!

[2016-05-11 13:33] #148 closed

[2016-05-11 13:34] richardpringle commented on #134
@bajtos, do you know if this issue was resolved? I don't see any PR attached to this issue.

[2016-05-11 18:33] davidcheung commented on #221
Thanks @markusiseli! 😄  I probably won't be able to get to it today, but I think it should be enough for me to reproduce the issue

[2016-05-12 00:59] sespinosa commented on #211
@richardpringle yes, im using mongodb.

[2016-05-12 17:03] richardpringle commented on #211
@davidcheung, so it looks like #134 is related and that it hasn't been resolved... you want to take over?

[2016-05-13 12:10] bajtos commented on #134
@richardpringle I think we still need to fix  loopback-datasource-juggler, loopback-connector-mongodb or both. This may be related to the problem with ObjectID coercion for which we don't have a generic solution yet.

[2016-05-13 12:12] bajtos commented on #134
BTW while fixing this in updateAttributes, we should fix it in `replaceById` too.

[2016-05-13 12:47] z3dmax commented on #22
Please add that feature to loopback-sdk-angular!!! I've past a day how to figure out a solution using lbServices in my Ionic App to upload an image using method `lbServices.ImageResource#upload` until I found out that it's not implemented jet... and now I'm planning to do using `$cordovaFileTransfer` with `multipart-form-data` and standard API.... it's gonna work?

[2016-05-13 13:11] jonathanwoahn commented on #120
I'm having this same issue. What would be awesome is if we could include the filter object into the save request - something like this:

`Model.$save({filter:{include:{relation:'otherModel'}}})`

Then we could specify what we want to on the return response.

[2016-05-16 11:57] anagrath commented on #212
Hi David,

I am not sure it does resolve the issue.  The issue I am having does not deal with an error on logging out, but rather on getting the current user.  The use case that is failing is that when an access token is expired, the system is still reporting as though the user is logged in.  I believe I traced it back to the get current user function — if there is an error here we should clear th

[2016-05-16 12:40] mrbatista commented on #212
Add interpeceptors like (this)https://docs.strongloop.com/display/public/LB/AngularJS+JavaScript+SDK#AngularJSJavaScriptSDK-Handling401Unauthorized]

[2016-05-16 13:17] anagrath commented on #212
Fair enough.  However, that suggestion ignores the original problem which is that the following returns true in the case that I am discussing:

User.isAuthenticated()

So in theory I agree with you, I can work around with the interceptor. Philosophically, however, I do not think this function should return true when the user is not authenticated and it is… when I investigated the code, I found tha

[2016-05-19 13:54] davidcheung commented on #221
Thanks @markusiseli, I can reproduce this problem,
since explorer can handle this, meaning its bug to the angular-sdk (not issue with strong-remoting)
might need to add a logic in [`buildScopeMethod()`](https://github.com/strongloop/loopback-sdk-angular/blob/279c810747d4061c11f126c19c3e34a67812aa8f/lib/services.js#L126) to handle this situation since the code is relying on [`get`](https://github.c

[2016-05-20 08:11] Vaelor commented on #188
+1 would love to see progress on this front

[2016-05-20 17:07] jonathan-casarrubias commented on #188
They are currently working on V3 so I don't think this will be a priority so you may need to use @mnvx fork for a while

[2016-06-03 21:21] soyacz commented on #97
I'm hitting the same issue when using neq in where filter used in model scope:
[code]
When debuging, I see the query:
`SELECT "id", "title", "categoryId", "kindId", "shortDesc", "fullDesc", "picture", "city", "address", "postcode", "organizationId", "publishDate", "archiveDate"  FROM "Article"  WHERE ("organizationId" = 1) AND ("publishDate" IS NULL)  ORDER BY "id"`

[2016-06-04 16:01] BoLaMN commented on #186
+ 1

I'd suggest switching them to debug as not all of the logs are errors and seem to flood the console if you have a few end points disabled.

[2016-06-07 15:16] davidcheung commented on #212
Agreed, we should fix this, perhaps call `LoopBackAuth.clearUser()` upon error somewhere [here](https://github.com/strongloop/loopback-sdk-angular/blob/c8cb9ae945046c6414952c69a8e1fe00480d2c73/lib/services.template.ejs#L152-L169)

[2016-06-07 15:58] davidcheung commented on #161
@saystone I am not able to reproduce this issue, would you be able to provide steps to reproduce

as @npedrini suggested it might be `array` arguments, but I cant get the same error
I have a function as such and it seems to work fine
[code]
[code]

[2016-06-07 18:10] ottojimb commented on #188
For newbies as me, how I resolve this:

- Go to http://0.0.0.0:3000/explorer/swagger.json and copy the response text.
- Go to http://codebeautify.org/jsonviewer and paste, after push the beautify button and copy again the response text (this is for easy debug on the next step)
- Go to http://editor.swagger.io/#/ and click on file->import json. Paste the text. On this step the editor can show error

[2016-06-08 14:48] mi9rom commented on #188
Hi @ottojimb ,
Unfortunately you need to port the LoopBackAuth as well + custom login,logout, unless you don't care included functionalities.
I'd been looking for sth like this but failed.
Regards :)

[2016-06-08 16:23] jonathan-casarrubias commented on #188
@mi9rom I have the same concern, there is logic behind to really integrate with LoopBack.. I'm still not sure using swagger is the right option

[2016-06-08 16:30] JonnyBGod commented on #188
The loopback specific logic can be dealt with separately.
We could go with many different approaches, create a small generators for that if this we want to try and tackle custom configs or just create a repos with templates.

I would probably go with the second option and create a tutorial on how to extend these templates with custom options. This part of the projects tend not to change that much.

[2016-06-08 17:11] jonathan-casarrubias commented on #188
I still disagree, the same Angular2 SDK will have differences in terms of implementation between NativeScript2, Angular2 For Web or Angular Universal.. I honestly see too much work in the second option and too long to wait a release, we have been using qeti and mnvx's fork for a while now and is the fastest way  for those -like me- who can not have such a slow rhythm.

I extended from their fork a

[2016-06-09 15:43] mprokopowicz commented on #183
Any forecast for this one?

[2016-06-10 13:18] jonathan-casarrubias commented on #188
I just published a tutorial of how to use these modules, for those who may be interested:

[The Ultimate Guide for building RTA](http://mean.expert/2016/06/09/angular-2-ultimate-real-time/)

Cheers!!
Jon.

[2016-06-10 14:51] ottojimb commented on #188
@mi9rom, @jonathan-casarrubias, thank you!! I'm agree with another real SDK for angular2. Completely unaware of other options and my intention was sharing how I was doing.

[2016-06-10 15:05] jonathan-casarrubias commented on #188
@ottojimb thanks for your support.

Currently the most mature version of the builder is for NativeScript, please beware that I just gave a small amount of support for the Angular2 for Web Version.. I think it works, but is not optimal... Since I think I'm done this week with the NativeScript one, I will work next week on porting everything so we have same functionality according the Web Environmen

[2016-06-14 18:53] davidcheung commented on #205
Or maybe if you were talking about docular, is was removed from the code, we are looking to use `strong-docs` instead, to track this issue please refer to https://github.com/strongloop/loopback-sdk-angular-cli/issues/22

Closing this issue now, please feel free to reopen if you see fit. Thanks

[2016-06-14 18:53] #205 closed

[2016-06-14 18:55] davidcheung commented on #161
@colinkho @hikkyu are u guys still experience this issue? would you guys be able to provide a sandbox to reproduce this issue? Thanks!

[2016-06-14 18:58] davidcheung commented on #222
Hi @dancingshell, not sure if you were able to resolve your issue, I wasn't able to reproduce your issue, closing the issue now, please reopen if you are still experience the issue and would be best if you could provide steps to reproduce or a [sand-box](https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report). Thanks

[2016-06-14 18:58] #222 closed

[2016-06-14 19:08] davidcheung commented on #211
Hi @sespinosa, have you tried the work-around suggested here https://github.com/strongloop/loopback-sdk-angular/issues/134#issuecomment-81992967? it looks like its the same issue as #134, going to close this and track bug there as theres more information there. Please reopen the issue if you see fit or if I misunderstood your issue (in that case please reopen and would be helpful if you could prov

[2016-06-14 19:08] #211 closed

[2016-06-14 19:13] davidcheung commented on #140
Hi @MikeSpock, hope this is no longer an issue for you, closing this issue as it has been stale for over a year, [please reopen](https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report) if you see fit.

[2016-06-14 19:13] #140 closed

[2016-06-14 19:22] davidcheung commented on #119
Hi @alexxgathp,
I'm going to attempt to describe the issue, can you let me know if this describes the issue?

- Query w/ `include filter`(relationship linked via `foreignKey`)
- update one of the instance
- `include filter` lost

would you know if it only happens when specified foreign key is used?

[2016-06-20 13:48] bajtos commented on #188
For anybody stumbling across this discussion while looking for an Angular2 client for LoopBack: there are several community-driven solutions available:
 - [loopback-sdk-builder](https://www.npmjs.com/package/loopback-sdk-builder)
 - Use Swagger Editor to generate a client, see https://www.npmjs.com/package/loopback-sdk-builder

[2016-06-21 16:29] djabif commented on #188
Hi @jonathan-casarrubias thanks for sharing your solution!
Will it work with Angular2 for TypeScript?

[2016-06-21 16:47] jonathan-casarrubias commented on #188
Hey @djabif yes!!! If you build an SDK for Angular2 it will be fully compatible with TypeScript.

Cheers!
Jon

[2016-06-28 05:34] levantoanbkit commented on #188
Dear sir @jonathan-casarrubias , @bajtos
I am working on Ionic2 Beta version and also want to integrate with Loopback framework. I am very interested when was known about loopback-sdk-builder, but I am not sure whether can it work with Ionic2 Beta (AngularJS 2)? Please help me, can you share your experiences about my difficulties?
Thank you so much!

[2016-06-28 11:23] jonathan-casarrubias commented on #188
@levantoanbkit it should work with ionic by using the ng4web driver. Please read the loopback-sdk-builder README and build your SDK for Ionic as if it were for web.

Cheers!
Jon

[2016-06-29 08:17] levantoanbkit commented on #188
Thank you so much! @jonathan-casarrubias

[2016-07-01 10:23] abimelex commented on #78
@vko-online I guess this is intended, since the link is already set by the first request. Try to change the id or fk.

[2016-07-05 15:58] git2g commented on #161
+1 - Still getting this error @davidcheung
[code]

[2016-07-05 17:57] davidcheung commented on #161
@git2g would you be able to provide a sandbox reproducing the problem, or point out what breaks the template, I've tried to reproduce without success.

[2016-07-05 21:58] git2g commented on #161
@davidcheung - sent an email to your IBM account with the repo information

[2016-07-06 03:48] git2g commented on #161
@davidcheung - I also refactored the remote methods to change the args with array type to object, but still getting the same error as above when running lb-ng

[2016-07-06 15:34] git2g commented on #161
Thanks @davidcheung - As a workaround, I refactored the **args' descriptions** for remote methods **from arrays to strings** and was able to run lb-ng successfully.

[2016-07-07 00:55] HuemanF commented on #221
I have this problem as well without any acls setup

[2016-07-20 15:58] gianlucamov opened #228 "Model.findById ignoring filter"
Hi,
Using the sdk, querying "User" model, the findById seems to ignore any filter ( I would need to use the "include" filter).
In the documentation is not clear whether this is a supported feature or not.

Is it correct that "findById" is ignoring the filter?

Thank you very much
Gianluca

[2016-07-20 18:23] mrbatista commented on #228
@gianlucamov please share your code to help you

[2016-07-20 18:38] mrbatista commented on #228
@gianlucamov this is an example:
[code]

[2016-07-21 07:19] gianlucamov commented on #228
@mrbatista Thank you, here is the code I am using :
`function loggedUser(){
                var id = User.getCurrentId();
                $log.debug("Logged User Id");
                $log.debug(id);
                return User.findById({ id: id },{
                    filter: {
                        include: 'identities'
                    }
                }).$promise;
            }`
I did pl

[2016-07-21 07:20] #228 closed

[2016-07-22 18:32] jonathan-casarrubias commented on #188
@bajtos @davidcheung I'm struggling with a current validation from loopback/strong-remoting to generate model definitions for those models who are private, we do not want to expose the services but in order to support a fully typed sdk, we need the model definitions.

Can you take a look into this issue? I know how could be solved but it need a small core modification of the framework

https://git

[2016-07-31 15:48] pbrain19 commented on #125
this issue does not seem to be resolved. Currently trying to update customer and it does not seem to have the ownership to do so.

[2016-07-31 19:46] pbrain19 opened #232 "uploading files via SDK"
There seems to be no documentation on how the uploading of files is happening. Ideally I would like to create a 'customer' that has many images. the api however seems to only like to do these separate.

[2016-08-04 21:32] rhoderunner9 commented on #125
The documentation online does not seem to be sufficient to cover how to do simple tasks. I have set up the updateAttributes, and even just threw my hands up and gave $owner unlimited access, and still get the Authentication Required error. This tells me that this user is not the owner of his/her data. The documentation is vast, yet seems to leave many of us hanging with inadequate answers to very

[2016-08-04 22:12] superkhau commented on #125
@crandmck Maybe you can help out with the docs here? @rhoderunner9 Do you have any suggestions on how to improve it?

[2016-08-12 00:20] SinvalMAO opened #233 "lb-ng command does not inject access_token in lb-services.js factories changeStream"
When activated acls to restrict access to types of users and methods, the lb-services.js has already injected access tokens to be able to work on the front end with angular loopback sdk, however for methods changeStream these tokens are not injected so generating a {"error": "no response from server"}, I found a solution that is rescuing the accessToken of credentials in localStorage and set as fo

[2016-08-18 15:07] davidcheung commented on #200
Closing issue as PR is landed

[2016-08-18 15:07] #200 closed

[2016-08-23 12:19] alvarp opened #236 "Generate AngularSdk not working using this module"
This code:

[code]

Throws the following error:
[code]

[2016-08-24 14:02] jonathan-casarrubias commented on #188
![LoopBack SDK Builder](https://storage.googleapis.com/mean-expert-images/sdk-builder.jpg)

Aloha LoopBack SDK Builder 🚀
===========

I'm really exited to notify anyone interested in generating a [LoopBack](http://loopback.io) SDK for [Angular 2](http://angular.io) that after several months of hard work the first [LoopBack SDK Builder](https://www.npmjs.com/package/@mean-expert/loopback-sdk-builde

[2016-08-24 14:08] AurelieV commented on #188
@jonathan-casarrubias great news !
Does the SDK support cookie authentication or does it need token as the angular1 version does?

[2016-08-24 14:13] jonathan-casarrubias commented on #188
@AurelieV for now it does use token authentication, but I'm thinking in support cookie authentication when [Angular Universal](http://universal.angular.io) is supported by the builder, that is in the roadmap for version 2.1.0, check [here](https://github.com/mean-expert-official/loopback-sdk-builder/issues/36)

[2016-08-24 14:20] phra commented on #188
big up for @jonathan-casarrubias!

[2016-08-24 14:22] AurelieV commented on #188
@jonathan-casarrubias be able to choose will be very appreciate :). I will check if it's easy or not (only have to not send the token so)

[2016-08-24 14:31] jonathan-casarrubias commented on #188
@AurelieV is a challenge, because [Angular Universal](http://universal.angular.io) only renders the page the first time is loaded in the browser, then [Angular 2](http://angular.io) takes control in the front end, so it can be partially implemented. Please follow the [thread](https://github.com/mean-expert-official/loopback-sdk-builder/issues/36) for progress on this topic.

Cheers!!!
Jon

[2016-08-24 18:42] levantoanbkit commented on #188
Thank your team so much!

On Wed, Aug 24, 2016 at 9:31 PM, Jonathan Casarrubias <
notifications@github.com> wrote:

[2016-08-29 13:34] bajtos commented on #188
@jonathan-casarrubias congratulations! I am personally very happy that you managed to make this happen and wish you many happy users & contributors.

@crandmck I am proposing to add a link to our documentation pointing to this Angular2 SDK, what do you think?

I am closing this particular github issue as done.

[2016-08-29 13:34] #188 closed

[2016-08-29 13:40] davidcheung commented on #236
@alvarp what version of loopback are you using? perhaps you are using a new version of `sdk-angular` with an old version `loopback`?

[2016-08-29 13:53] alvarp commented on #236
@davidcheung Loopback 2.26.0

[2016-08-29 15:34] jonathan-casarrubias commented on #188
Hey @bajtos thanks a lot for your nice words!!!

Also.. It would be wonderful if you guys can add a link in the official documentation for the Angular 2 SDK.

There is a good amount of people migrating already to NG2 and would provide a better experience for them to land directly from the official docs and by not digging in the web.

Again thanks for your words and your support.

Cheers!!!
Jon

[2016-08-29 16:20] crandmck commented on #188
Added a doc page: https://docs.strongloop.com/display/LB/Angular+2+SDK

NOTE: We're in the process of migrating the docs to GitHub in https://github.com/strongloop/loopback.io and you'll be able to add more details there, if you wish, once we start accepting PRs.  (Still lots of work to do on http://loopback.io/doc/ so not yet!).

[2016-08-29 18:02] davidcheung commented on #236
@alvarp looks like the function was added in [strong-remoting@`2.2.7`](https://github.com/strongloop/strong-remoting/commit/9a578165c498555656c73611aa2656ccf19bdeb1) since [loopback-sdk-angular@`1.9.0`](https://github.com/strongloop/loopback-sdk-angular/blob/master/CHANGES.md#2016-07-29-version-190), you should be able to resolve this would be upgrading your strong-remoting to `^2.27.0`+

/cc @baj

[2016-08-29 19:32] jonathan-casarrubias commented on #188
Hey @crandmck thanks for adding the section, and absolutely I can contribute to the documentation once you start accepting pull request, I will be looking forward for it

Cheers!
Jon

[2016-08-30 14:52] bajtos commented on #236
@davidcheung alternatively, we can modify sdk code-gen to support both API flavours - the new `getEndpoints` and the old `getHttpPath` (IIRC the name correctly).

[2016-08-30 15:03] davidcheung commented on #236
@bajtos lets do that

[2016-09-02 18:53] davidcheung commented on #233
Hi @SinvalMAO, thanks for bringing this up, do you know if the accessToken is available thru the headers, I believe they should be https://github.com/strongloop/loopback-sdk-angular/blob/1bf6f10ad47b04900a49a967217da60c9c7bba35/lib/services.template.ejs#L375, but maybe it did not properly propagate down.
Would you be able to [fork a loopback-sandbox](https://github.com/strongloop/loopback/wiki/Rep

[2016-09-02 19:04] davidcheung commented on #232
Hi @pbrain19 , you could perhaps take a look to see if https://github.com/strongloop/loopback-component-storage/tree/production/example-2.0 helps, please also see https://github.com/strongloop/loopback-sdk-angular/issues/22

I think we need an official way that's easiest for devs to implement a file upload solution, while its not as easy as we would like it to be right now.

[2016-09-15 16:07] davidcheung opened #238 "Create 2.x branch and change master to use Loopback 3.0"
So ci tests against loopback 3.0

https://github.com/strongloop-internal/scrum-loopback/issues/1057

[2016-09-21 15:23] SinvalMAO commented on #60
Thank @arielschiavoni, I'm using ionic to develop an application, and reused the "loopback-angular-sdk", however as the angular injects URLBase of dynamic way according to what is caught in the browser, it always gave 404 NOT FOUND as Substitutes by a static it worked perfectly =)

[2016-09-21 15:55] PhilippeCorreges opened #240 "Security hole in js generated file : Enhancement request"
Hello,
First, I have no idea how to flag this as en enhancement request. Sorry about that.

What I saw : When the angular app is bootstraped, it "pings" the server APIs which results in http 200, 403, 401 response.
Even if I have no clue on how this could be solved, it would be nice to avoid such http requests that shows how the APIs are "named"

[2016-09-21 16:37] davidcheung commented on #238
should finish this first https://github.com/strongloop/loopback-sdk-angular/issues/236 before branching off to 3.x

[2016-09-22 15:15] davidcheung commented on #240
@PhilippeCorreges thanks for bringing this up, can you please give more details of what calls were "ping"ed,
are they the calls that try to authenticate users access token from localStorage?

[2016-09-22 15:26] PhilippeCorreges commented on #240
@davidcheung Hi David
Here is what I am talking about (a simple workflow):
* Create an API (Let's say projects)
* No relationship, nothing, just make it visible to be accessed.
* Create an angular app and bootstrap it in an index.html with the proper generated lb-services.js file.
* Open Chrome for instance and look at the network tab of developper tools.
* Start the server and access the app.

In

[2016-09-22 16:30] davidcheung commented on #240
@PhilippeCorreges  i dont seem to have that issue
would it be some extensions u have on chrome,
or can you fork a sandbox to reproduce the problem? https://github.com/strongloop/loopback/wiki/Reporting-

![screen shot 2016-09-22 at 12 27 13 pm](https://cloud.githubusercontent.com/assets/1787590/18757025/1966df68-80c0-11e6-8686-d2a8bac62802.png)

[2016-09-26 13:39] PhilippeCorreges commented on #240
Hi !!
The problem with a plugin was a good idea to me and I tested on Safari too (In fact I did it already)
So, here is a screenshot from Safari :

![capture d ecran 2016-09-26 a 15 34 18](https://cloud.githubusercontent.com/assets/11230777/18836115/d9079380-83fe-11e6-8869-7f3db8dc6944.png)

You can also use a repo like https://github.com/beeman/loopback-angular-admin

You will see that the app is

[2016-09-27 17:44] Sequoia commented on #125
@superkhau is there a bullet list/nutshell version of what the proper solution is here? I can write documentation with examples etc. once I know what the recommended approach is but it's not clear from this thread what it is.

Can @bajtos or someone else familiar with the topic clarify the best/proper way to:
1. set up ACLs to work with the angular SDK
2. call the API via the angular SDK (`$save`,

[2016-09-27 20:14] superkhau commented on #125
@bajtos Would know more about the design/intent of the Angular SDK here.
@raymondfeng Could help with the intent of the ACL parts.

With regards to 1 and 2, `https://github.com/strongloop/loopback-getting-started-intermediate` has a flushed out example that uses Angular which ACLs to demonstrate the typical use case. The issue is either a (the workaround) or b (the feature request) from @bajtos's

[2016-09-28 11:45] aks0020 opened #242 "Api docs not showing all functions"
Below api doc link is not showing all function details:
http://apidocs.strongloop.com/loopback-sdk-angular/

[2016-10-04 18:54] #236 closed

[2016-10-04 19:28] davidcheung commented on #238
blocked by https://github.com/strongloop/strong-remoting/issues/360 where `model.createMany` uses batch create

[2016-10-04 19:55] davidcheung commented on #242
@aks0020 thanks for bringing this up, somehow the https://github.com/strongloop/loopback-sdk-angular/blob/b22c92342942cf3c31c9f194c7496d64afb03269/package.json#L8 did not get properly generated for the docs

[2016-10-04 20:01] davidcheung commented on #240
I think those are the requiring of the js files, can you see if those are ajax calls? or simply just the app requiring the `.js` scripts to boot the app, if you want to hide the **controllers js files**, you could use a task runner such as `gulp` to `minify` your application then it would hide the model names.

[2016-10-04 22:11] davidcheung commented on #242
Thanks @aks0020 the problem should be fixed now

[2016-10-04 22:11] #242 closed

[2016-10-04 22:19] davidcheung commented on #213
perhaps the solution to this is when declaring remoteMethod for a model we should see if theres duplicating path. then throw a warning from model itself, since this would be a problem with all the SDKs too? https://github.com/strongloop/loopback/blob/f9a58083ae247590c6f9541104200f6bc8d1b4cb/lib/model.js#L421

[2016-10-05 12:52] bajtos commented on #125
I am afraid I don't have enough bandwidth to look into this issue right now. I'm moving it to `#tob` so that we can set aside time to work on this as part of our Scrum process.

[2016-10-05 15:58] #212 closed

[2016-10-05 17:07] Sequoia commented on #125
Please re-assign me when this is ready-for-docs! 🌴

[2016-10-10 15:47] NudgeTech commented on #236
Hi,  I am having a similar issue when using the lb-ng angular services generator command.  I get the same error message.  I have a single model on the sever side.  How do you fix this? Best

[2016-10-11 14:05] davidcheung commented on #236
Hi @NudgeTech, the fixed has been checked-in(to master) but we have not release to npm yet. in the mean time you could update to `strong-remoting@2.32.0` in your loopback application that should fix it.

[2016-10-11 15:09] NudgeTech commented on #236
@davidcheung Ok thanks, what is the best way to do that?

[2016-10-11 15:20] davidcheung commented on #236
@NudgeTech
i believe you should be able to just do `npm install strong-remoting --save` on your loopback application (if you are using npm3),

if not you might need to go into `node_modules/loopback/` then do `npm install strong-remoting --save`

i have not tried this myself, please let me know if it works.

[2016-10-11 15:22] NudgeTech commented on #236
@davidcheung  What I did was go to the package.json file in loopback folder (node_modules/loopback).  I updated the strong-remote version to 2.23.0 and ran nom install from within the loopback folder.  Then went back to the client folder and ran the lb-ng command. This seemed to work!

[2016-10-13 13:45] achrefcharfeddine commented on #236
Thanks, you solved the problem.

[2016-10-20 14:13] davidcheung opened #249 "configurable timeouts for services"
moved here from https://github.com/strongloop/loopback-sdk-angular-cli/issues/42

Find a way to make timeout configurable for resouces

@hussainak can u see if this describes your issue/feature request?

[2016-10-20 15:28] #161 closed

[2016-10-23 13:48] hussainak commented on #249
yes looks good

[2016-10-26 12:34] ahmed-abdulmoniem commented on #154
@bajtos Does prototype$updateAttributes fire loopback validations?

[2016-10-26 13:50] bajtos commented on #154
Not by default, see http://loopback.io/doc/en/lb2/Model-definition-JSON-file.html#advanced-options

[2016-10-26 15:10] ahmed-abdulmoniem commented on #154
Thanks

[2016-10-27 03:15] Traksewt opened #250 "Support multiple lbServices pointing to different servers"
Currently the generator can make unique model names for the whole module, but there are other included angular objects that clash with the global angular namespace.

This causes a problem when trying to use 2 lbServices, each pointing to a different server.

e.g. in config when setting up the URL:
`LoopBackResourceProvider.setUrlBase(myURLBaseForFirstServer);
`
there is no way to setup the base UR

[2016-11-03 12:08] dleute opened #252 "upsert does not update relationship properties"
Let's say I have a simple MyModel instance:

[code]

statusId is a belongsTo on this model connected to another model called status.

On the first upsert called when id doesn't exist or is 0, the statusId is set after upsert is called like this:

[code]

On subsequent calls (when someone edits the same object later and uniqueid has a value) changes to statusId are not saved back to the database. E

[2016-11-04 02:37] dleute commented on #252
FYI, I was able to bind my md-select and md-options to the model using the status property instead of the statusId. I worked around it.

I don't understand why using statusId is ok on create but ignored on update. Is this intentional?

[2016-11-09 13:21] bajtos commented on #192
Closing as a duplicate of #250

[2016-11-09 13:21] #192 closed

[2016-11-09 13:22] bajtos commented on #113
Implemented by https://github.com/strongloop/loopback-sdk-angular/pull/235

[2016-11-09 13:22] #113 closed

[2016-11-11 18:25] crandmck commented on #125
@bajtos bump....?

[2016-11-16 10:56] bajtos commented on #125
@davidcheung do you perhaps have bandwidth to help me with this issue? I think we should be able to reproduce this problem in our test suite (enable authentication, create a user, try to update the user via `userInstance.$save()`). I can investigate myself what's going on once we have the new test added (e.g. in a feature branch).

[2016-11-17 08:51] Undrium commented on #187
Yeah, this problem is causing alot of trouble for us aswell. We are using the "Loopback Component Group Access"-module to enable group access to our resources, this module requires us to use "through"-relations which aren't properly generated in the SDK-file. It's painful to program around (we have to do manual API-calls mixed with the sdk-functions) something so fundamental.

[2016-11-21 22:43] davidcheung commented on #125
yeah this is still a problem, will add to my backlog
can reproduce via : https://github.com/strongloop/loopback-sdk-angular/compare/user-cannot-save

[2016-11-25 17:09] Ktl-XV opened #255 "Relative path for Storage FileSystem"
When generating the SDK, either with grunt or CLI, the build fails when:

- Using `loopback-component-storage`
- Using `"provider": "filesystem"`
- Using a relative path as the `root`
- Building from a directory other than the project root

This makes using the grunt plugin or `lb-ng` from within the client directory impossible. Could there be a way to pass the project root directory, or for it to

[2016-11-27 11:56] carlosalvarez91 opened #256 "lb-ng"
When I try to generate lb-services at the client with lb-ng command I'm getting this error:

`bash-3.2$ lb-ng server/server.js client/www/lib/lb-services.js
Loading LoopBack app "/Users/carlosalvarez/Desktop/APIrest/Loopback/sample copy/server/server.js"

assert.js:85
  throw new assert.AssertionError({
  ^
AssertionError: Invalid relation type: undefined
    at /Users/carlosalvarez/Desktop/APIres

[2016-11-28 09:36] carlosalvarez91 commented on #256
Issue solved:
If you are creating or modifying models manually you have to modify as well the server/model-config.json file
...a beginner mistake.

`Carloss-MBP:sample.2.0 carlosalvarez$ lb-ng server/server.js client/www/lib/lb-service.js
Loading LoopBack app "/Users/carlosalvarez/Desktop/APIrest/Loopback/sample.2.0/server/server.js"
loopback deprecated loopback.compress is deprecated. Use `requir

[2016-11-30 07:09] carlosalvarez91 commented on #103
where do you you have to write this ? in services.spec.js?
Thanks

[2016-11-30 08:41] #256 closed

[2016-12-02 09:00] ht22pt opened #257 "Can't get response token on client"
I have start one project with client is angular and server loopback. I has view example login in https://github.com/strongloop/loopback-getting-started-intermediate .
But I can't get token response

[code]
"response" always is HTML text
![2016-12-02_00h07_14](https://cloud.githubusercontent.com/assets/1286413/20827987/d79300b0-b8a7-11e6-8667-43a5d729c65d.png)

I check list request and see : every

[2016-12-02 15:28] ht22pt commented on #257
Sorry, my mistake. I set wrong configuration from server side.
I close it.

[2016-12-02 15:28] #257 closed

[2016-12-09 00:59] siddhipai opened #260 "CI failures for node 6.x on widnows and linux"
see [#14](https://github.com/strongloop/loopback-sdk-ios-codegen/pull/14)

[2016-12-09 17:57] jjhesk opened #261 "lb-ng doesnt work as expected"
this time i got nodejs 7.1.0, loopback 3.1.0, the lastest angular sdk, and latest installed strongloop.

i fired it up with
lb-ng server.js client/js/services/lbservices.js

i got the file generated but all the models defined in my configurations were all gone. i cannot tell how to fix it.

[2016-12-09 18:04] jjhesk commented on #261
i just read the similar issues from #221 and there are some issues that happens the same me in here. In the model json there is empty in acl and i never thought of adding anything to it be because there are no carveat pointed out in the documentation of loopback 3.0. please point out the instruction for making the generator to work again. thankx

[2016-12-13 14:22] pbouda commented on #249
I would also like to see this feature in order to be able to cancel resource requests as described here: http://stackoverflow.com/questions/29402697/cancel-a-resource-request-in-angular

[2016-12-13 14:25] hussainak commented on #249
It has been 7 months in the making, I guess this will be pushed out soon.

On Wednesday, 14 December 2016, Peter Bouda <notifications@github.com>
wrote:

[2016-12-14 19:31] bosco-li commented on #255
@Ktl-XV sorry for the late reply on this.  We put this in our backlog will prioritize for this item.  Thanks so much for the issue.

[2016-12-19 03:08] dylandechant commented on #154
this is now prototype$patchAttributes?

docs are not showing this.

[2017-01-09 11:54] louisl opened #262 "Unexpected behaviour with upsert if model contains related data?"
If I just send the actual model data all works well but if the model data you're trying to upsert contains related data the id's for the actual model don't change.

See UPDATE values in logs below.

BarType.upsert(barType)...

With related data in the model.
[code]

Without related data in the model.
[code]

[2017-01-09 12:27] louisl commented on #262
I think #252 is describing the same issue.

[2017-01-09 13:06] Undrium opened #263 "Generated files are too large, option to compress/shrink sdk?"
Currently there doesn't seem to be any option to make the generated file smaller when generated. Would be really nice to see something which ignores comments/optimizes the size instead of running a third party tool.

This is a great synergy to https://github.com/strongloop/loopback/issues/989 I believe.

[2017-01-16 21:02] davidcheung commented on #238
done in #253
closing

[2017-01-16 21:02] #238 closed

[2017-01-16 21:04] davidcheung commented on #213
Closing this issue now, if we want preventive checks and warn, i believe it shouldn't happen in the SDK level.

[2017-01-16 21:04] #213 closed

[2017-01-24 17:37] bajtos commented on #93
Considering that this issue is more than 2 years old by now, and nobody was complaining about our SDK working with latest AngularJS versions, I am closing this spike as no longer relevant.

[2017-01-24 17:37] #93 closed

[2017-01-29 05:10] totalard commented on #255
Dear,

The Problem is happen Only when using Relative Path. May be this is useful for temporary fix

[2017-01-30 21:46] crandmck commented on #174
The fact that the endpoint is not exposed by default is documented in http://loopback.io/doc/en/lb3/PersistedModel-REST-API.html#delete-all-matching-instances

[2017-01-30 21:46] #174 closed

[2017-02-01 00:05] luncht1me commented on #125
This is still a problem...

upsert() is doing a PATCH to `Model?id=` instead of `Model/id` and failing miserably.

[2017-02-08 21:46] rhoderunner9 commented on #125
I have run into this issue several times. I think one possible solution is to modify the service generation app that writes the normal interfaces to the same sdk directory, making all the generated classes abstract. A secondary directory (something like "sdk-impl") can be generated if it does not exist, otherwise providing feedback that an interface has changed, and therefore should be verified so

[2017-02-10 00:33] gvillenave commented on #74
Any updates here?

[2017-02-14 15:47] dhmlau opened #265 "Docs needs to update for UPDATE data using $save()"
### Bug or feature request
- [ x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

In the documentation (http://loopback.io/doc/en/lb3/AngularJS-JavaScript-SDK.html), it suggests to use $save() for update.  However, it doesn't work for me, and it was also captured in this issue strongloop/loopback-sdk-angular#154.

### Link to sample repo to reproduce issue (if

[2017-02-15 15:48] bajtos commented on #74
No updates, I am afraid this feature is (still) not a priority for us. Are there any volunteers to contribute the implementation?

[2017-02-18 01:22] totalard opened #266 "[Feature]$save() on instance must follow url as instance generation"
Dear,

What Currently Now
`Post.comments.findById({id:1,fk:2})`
generates Url as `GET posts/1/comments/2`

after i uses `$save()` on this instance.
the url generated is `PUT/PATCH comments/2`
the `posts/1` is missing.

It should be
`PUT/PATCH posts/1/comments/2`

Hope you got it.

[2017-02-21 05:13] cmvee commented on #183
Pulsing on this one - any thoughts on when `createChangeStream` might become functional?

[2017-02-21 12:34] bajtos commented on #183
I am afraid this is not a priority for us. Having said that, if there are any volunteers willing to contribute this feature, then we are happy to help you along the way.

[2017-03-14 10:11] bluemixgarage commented on #249
Is this feature available now?

[2017-03-14 13:48] fouadchamoun opened #267 "calling $save() to persist changes to an existing instance gets error: 'id' can't be set"
### Bug or feature request
- [x] Bug
- [ ] Feature request

### Steps to reproduce
1. Get an instance from DB via findById or findOne for example.
2. Modify some properties
3. Call $save() on instance

### Link to sample repo to reproduce issue (if bug)
[Forked Sandbox](https://github.com/fouadchamoun/loopback-sandbox)
The sandbox contains demo angular code that reproduces the problem.

### Expect

[2017-03-23 18:11] bajtos commented on #176
Possibly related: https://github.com/strongloop/loopback-sdk-angular/pull/251

[2017-03-24 14:57] danielskapunk commented on #267
I have the same problem, did you find a solution?

[2017-03-24 14:59] fouadchamoun commented on #267
no nothing yet :/

[2017-04-04 15:10] jdschreck commented on #250
What is that status of this capability?  Has it been released yet?  I am running into this issue also.

[2017-04-05 13:40] shreyas-a commented on #8
I'm still able to reproduce this bug.
Even after getting: Generating "lbServices" for the API endpoint "http://0.0.0.0:3000/api/"
the requests are going to the current port. i.e. 4000

[2017-04-05 13:42] bajtos commented on #8
@shreyas-a thanks for chiming in. Please open a new issue and provide us with full steps how to reproduce the problem you are experiencing.

[2017-04-05 13:55] shreyas-a opened #268 "Unable to set the --url option for lb-ng"
`lb-ng --url http://0.0.0.0:3000/api/ ../server/server.js ./app/lb-services.js`

The command outputs:
`Generating "lbServices" for the API endpoint "http://0.0.0.0:3000/api/"`
Still all requests are going to the port I'm deploying my client on. (4000 in this case).
Thereby getting `GET http://localhost:4000/api/books 404 (Not Found)`

[2017-04-06 15:02] bajtos commented on #250
@jdschreck See https://github.com/strongloop/loopback-sdk-angular/pull/251 which was never finished. Would you like to pick up the work and finish the pull request to a state where it can be landed?

[2017-04-06 22:13] Traksewt commented on #250
@bajtos @jdschreck sorry for delay, I will finish unit tests and push up today.

[2017-04-08 00:08] jdforsythe opened #270 "lb-ng sometimes changes methods from Model.updateAttributes to Model.prototype$updateAttributes"
### Bug or Feature

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

Since the beginning of the project I'm working on, `lb-ng` generates the update methods as static `updateAttributes()` methods on the models, e.g. `Model.updateAttributes()`. At some point a couple weeks ago, running `lb-ng` changed all those methods to be `Model.prototype$updateAttribut

[2017-04-09 17:23] #268 closed

[2017-05-11 09:01] fouadchamoun commented on #267
@andela-oolutola thank you I will try this as a temporary workaround. Just gotta remember to re-modify the file if I ever regenerate it in the future.

[2017-06-07 12:23] bajtos commented on #250
I believe this has been addressed by #269.

[2017-06-07 12:23] #250 closed

[2017-06-07 12:25] bajtos commented on #270
Hello, this is rather surprising to me. AFAICT, `updateAttributes` was always a prototype method on `PersistedModel` and as such it was always emitted with `prototype$` prefix in the client.

Is there anything special about your `Post` model? What datasource/connector is it attached to? Does it have any custom remote method in addition to those built-in?

Can you provide us with a small app reprod

[2017-06-07 12:27] bajtos commented on #267
I believe this has been fixed by https://github.com/strongloop/loopback-datasource-juggler/pull/1304 in `loopback-datasource-juggler@3.6.0`. Please reopen the issue if the problem persists.

[2017-06-07 12:27] #267 closed

[2017-06-07 12:32] bajtos commented on #266
Hello @totalard, thank you for reporting the issue, your description makes sense to me. To be honest, I think both URLs (`/comments/2` and `/posts/1/comments/2`) are valid in a way. `Post.comments.findById` returns a `Comment` instance which is not aware of how it was retrieved from the server, that's why it calls `/comments/2` on save.

Having wrote that, I see how this can be an issue and I thin

[2017-06-07 12:34] bajtos commented on #154
Yes.

[2017-06-07 12:36] bajtos commented on #265
@dhmlau I am afraid this issue seems not actionable to me. Should we close it as a duplicate of #154? If it isn't a duplicate, then what exactly would you like to see as the outcome of this issue?

[2017-06-07 12:39] bajtos commented on #263
Hello, minification of the generated output is out of scope of this project. Our focus is on providing the best client generator for AngularJS (1.x). Feel free to use the API provided by loopback-sdk-angular (and consumed by our CLI, Gulp and Grunt flavours) to build a new tool that can produce a minified client code.

[2017-06-07 12:39] #263 closed

[2017-06-07 12:42] bajtos commented on #262
I think this is related to how loopback-datasource-juggler handles data from relations when making updates. @kjdelisle can somebody from your team take a look please? I am pretty sure none of the AngularJS SDK code is needed to reproduce the issue, just make `GET` and `POST` requests in the same way as the SDK does it.

[2017-06-07 12:43] bajtos commented on #252
@kjdelisle assigning to your team, see my comment in #262

[2017-06-07 12:49] bajtos commented on #221
I think this is the relevant code that's assuming a `get` method will be always present in a scope: [lib/services.template.ejs#L277-L279](https://github.com/strongloop/loopback-sdk-angular/blob/14dfdaee406f714a8ec77528e142c0b5f810c937/lib/services.template.ejs#L277-L279):

[code]

The fix should be relatively straightforward - check whether `scopeMethods` contain a top-level `get` method and if it

[2017-06-07 12:50] bajtos commented on #260
@siddhipai is this still relevant?

[2017-06-07 12:51] bajtos commented on #265
Sorry, ignore my previous comment. IIRC, you are asking to update our documentation, describe the situations where `$save` cannot be used and offer alternatives.

[2017-06-07 12:52] bajtos commented on #261
Hello, is this issue still relevant? Considering that Node.js 7.x will go out of support soon, can you reproduce the problem on Node.js 8.0 too?

[2017-06-07 12:54] bajtos commented on #204
I am closing this issue because it is not reproducible. Feel free to reopen if you can provide us with a small app reproducing the problem (see [Bug reporting instructions](http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report)).

[2017-06-07 12:54] #204 closed

[2017-06-07 12:55] bajtos commented on #186
Makes sense. Would you like to contribute this change yourself? See http://loopback.io/doc/en/contrib/index.html to get started.

[2017-06-07 12:59] bajtos commented on #182
The method `bulkUpdate` is hidden from the REST API unless the model settings enable one of the following flags: `trackChanges` or `enableRemoteReplication`.

My recommendation is to use `enableRemoteReplication`, which only exposes additional REST endpoints. The other flag `trackChanges` starts tracking of all changes, which requires additional database setup and incurs non-negligible performance

[2017-06-07 12:59] #182 closed

[2017-06-07 13:00] bajtos commented on #199
Hello @wrensburg, thank you for reporting the issue. Would you like to contribute the fix yourself? See http://loopback.io/doc/en/contrib/index.html to get started.

[2017-06-07 13:04] bajtos commented on #136
It seems to me the discussion here has reached a dead end, I am going to close this issue. Feel free to reopen if you disagree!

[2017-06-07 13:04] #136 closed

[2017-06-07 13:06] bajtos commented on #134
@kjdelisle can somebody from your team take a look? IIUC, the problem is that `updateAttributes` fails if the data payload contains `id` (primary key) property, even if the id value is the same as the id of the resource to be updated.

[2017-06-07 13:07] bajtos commented on #134
This issue was moved to strongloop/loopback-datasource-juggler#1400

[2017-06-07 13:07] #134 closed

[2017-06-07 13:10] bajtos commented on #83
This is no longer relevant, the discussion continues in #133.

[2017-06-07 13:10] #83 closed

[2017-06-07 13:11] bajtos commented on #35
Since it looks like none of the SDK users are asking for this feature, I think it can be safely closed.

[2017-06-07 13:11] #35 closed

[2017-06-07 13:13] bajtos commented on #119
I am closing this issue because it's not clear how to reproduce it.

[2017-06-07 13:13] #119 closed

[2017-06-07 13:14] bajtos commented on #240
I am closing this issue because it's not clear how to reproduce it.

[2017-06-07 13:14] #240 closed

[2017-06-07 13:15] bajtos commented on #233
I am closing this issue because it's not clear how to reproduce it.

[2017-06-07 13:15] #233 closed

[2017-06-07 17:41] mbuster commented on #270
Seeing same behavior here. After updating, models no longer have prototype$updateAttributes, only prototype$patchAttributes instead. This makes newly generated client non-backwards compatible with client consumers

[2017-06-08 16:21] bajtos commented on #270
Hello @mbuster, thank you for joining the discussion.

The issue title says the method name changes "from Model.updateAttributes to Model.prototype$updateAttributes" - that's surprising and I don't know how to reproduce that.

The change you are describing - from `prototype$updateAttributes` to `prototype$patchAttributes` is sort of expected, especially if you have upgraded your LoopBack version f

[2017-06-12 18:58] mbuster commented on #270
Thanks for the response @bajitos, and sorry for the late follow-up on my part. I'll double check all my versions, attempt to re-generate and verify whether I am in fact missing those methods.

[2017-06-13 16:08] mbuster commented on #270
I think the main issue for us is that R['updateAttributes'] = R['prototype$patchAttributes'] is what currently is being generated for each model. However, there used to be a prototype$updateAttributes method for each model, which is now not being generated, though is required for backwards compatibility with some of our client consuming projects. I have temporarily shimmed this with a gulp task af

[2017-06-22 14:59] bajtos commented on #270
This may be a bug in the way how the SDK is treating aliases. The line you have shown should read the following:

[code]

AFAICT, this bug has been already fixed in the latest version (`v3.1.0` and newer), see [lib/services.template.ejs#L185-L189](https://github.com/strongloop/loopback-sdk-angular/blob/14dfdaee406f714a8ec77528e142c0b5f810c937/lib/services.template.ejs#L185-L189) and #253.

What ve

[2017-06-26 19:16] mbuster commented on #270
Looks like I'm running 3.2.0
As I mentioned before, I created a gulp task that shims in the line you mentioned in order to supply a prototype$updateAttributes method, so that's working for now. Just not sure why it isn't happening on its own....

[2017-07-08 17:26] tgrundmanis opened #271 "Is your team having problems checking code style?"
If your team is having issues checking code style, try out this automated code style review tool here: stickler-ci.com. Connect your repository and create a new pull request or update an existing one to see it in action!

[2017-07-11 11:43] ernie58 opened #272 "not compatible with loopback-boot@3"
# Description/Steps to reproduce
Install a LB 3 application with loopback boot 3.
Add a lot of models and boot scripts
run  `lb-ng server/server.js client/js/services/lb-services.js`

# Expected result
A client side representation of all the models in `lb-services.js`

Actual result is an lb-services.js file without any model
# Additional information
I'm guessing it has something to do with loopba

[2017-09-09 04:33] fmtoffolo commented on #272
Were you able to get it to work? I'm having a similar problem.

[2017-10-16 20:30] jac1013 commented on #97
This problem is still happening today, I think with @soyacz explanation it should be possible to get a fix for it.

[2017-11-14 10:54] sleroy commented on #174
Yet the documentation does not provide how to expose it. Any reference ? the sharedClass trick is not working (NPE)

[2017-11-21 16:02] bajtos commented on #174
@sleroy

See here: https://github.com/strongloop/loopback/issues/491#issuecomment-116833323

[code]

I'd personally recommend to create a custom remote method (see the [docs](https://loopback.io/doc/en/lb2/Remote-methods.html#how-to-define-a-remote-method)) that will verify the `where` argument to avoid accidental deletion of all model instances and call `destroyAll` under the hood.

Would you lik

[2017-11-22 15:46] JuergenSimon opened #279 "lb-sdk ignores --wipe"
# Description/Steps to reproduce

When I run the following command:

`./node_modules/.bin/lb-sdk ./server/server.js ./bellyaches-mobile/app/shared/sdk -d ng2native -i disabled --wipe
`

the process hangs waiting for a response on the question:

Only when combining it with --quiet is the result as expected.

[2017-12-12 18:48] lkappeler opened #280 "Potential security vulnerabilities in ejs"
We are using the project as a dependency in our project.
The dependency graph on github shows us the following security warning:

**Moderate severity: [CVE-2017-1000188](https://nvd.nist.gov/vuln/detail/CVE-2017-1000188)**

See https://github.com/mde/ejs/commit/49264e0037e313a0a3e033450b5c184112516d8f

**High severity: [CVE-2017-1000228](https://nvd.nist.gov/vuln/detail/CVE-2017-1000228)**

See ht

[2017-12-15 12:53] bajtos commented on #97
Fair enough, I am reopening the issue.

Please check what is the `filter` argument send in the query string to the server. Does it correctly contain `neq` operators? Can you reproduce this issue without AngularJS SDK, just by running a similar "neq" query either via API Explorer or by invoking `MyModel.find` from JavaScript at server side?

I suspect this will be a bug in the server part of LoopBa

[2017-12-15 12:54] #271 closed

[2017-12-15 12:56] bajtos commented on #280
@lkappeler thank you for reporting the problem. Would you mind contributing the upgrade yourself? See our [Contribution Guidelines](http://loopback.io/doc/en/contrib/index.html) to get your started. I think the process should be pretty straightforward - run `npm install --save ejs@latest`, then make sure `npm test` is still passing.

[2017-12-15 12:59] bajtos commented on #279
Hello, I am afraid you submitted the issue to a wrong project - loopback-sdk-angular-cli provides `lb-ng` command, not `lb-sdk`.

I think https://github.com/mean-expert-official/loopback-sdk-builder may be the GitHub repository you are looking for?

[2017-12-15 12:59] #279 closed

[2017-12-15 13:01] bajtos commented on #272
Hello, thank you for reporting the issue. Is it possible that `loopback-boot@3` is not setting `booting` property and emitting `booted` event? Here is the code responsible for loading the app from a file and running the generator:

https://github.com/strongloop/loopback-sdk-angular-cli/blob/4360183c7541336608315e38f054451f1c104960/bin/lb-ng.js#L36-L44

I am afraid I don't have time to investigate

[2017-12-15 13:03] bajtos commented on #261
Closing this issue as abandoned. Feel free to reopen if you can provide us with the information asked for.

[2017-12-15 13:03] #261 closed

[2017-12-15 15:05] lkappeler commented on #280
Hi @bajtos
Thanks for your answer, unfortunately ist not just updating ejs since they removed the filters in version 2 so the two filters `q` and `getPropertyOfFirstEndpoint` needs to be replaced with custom helper function, tried to do that in my [branch](https://github.com/lkappeler/loopback-sdk-angular/tree/bugfix/update-ejs) but for some reasons the template wont compile anymore. I tried to re

[2017-12-15 15:49] bajtos commented on #280
Oh, that's unfortunate.

I am leaving for vacation, I'll take a look at this when I get back in January.

[2018-01-05 15:31] NabinKhatiwada commented on #39
1.create a service class-service class is at the end and add following code.
        2.create a component and provide there and inject there example:
      import { Component, OnInit } from '@angular/core';
        import { AutoLogoutService } from './auto-logout.service';
        @Component({
          selector: 'app-auto-logout',
          templateUrl: './auto-logout.component.html',
          p

[2018-01-15 00:53] xinbenlv commented on #262
Any updates?

[2018-01-15 15:43] bajtos commented on #280
Hello. I checked the two security vulnerabilities, I believe they are affecting ejs API that we are not using in this SDK. Both vulnerabilities are related to `renderFile`, but we are using `render` - see [lib/services.js#L105](https://github.com/strongloop/loopback-sdk-angular/blob/88c45a632c0d971c6342ec45ff1e1de884d7d110/lib/services.js#L105).

In that light, I think this issue is not critical.

[2018-01-16 02:48] jannyHou commented on #262
hi @louisl, by

do you mean the `id` of the related model instance?

[2018-01-16 13:08] louisl commented on #262
@jannyHou The `barAccountTypeId` for the model does change, I can confirm this by doing `{ barType | json }` in the Angular page, when passed to upsert it seems to use the related `barAccountType.id` instead of the models `barAccountTypeId` which was actually being changed to 2.

My fix for this was to to nullify the related data prior to upsert then it works as expected.
[code]

[2018-01-16 17:11] virkt25 commented on #280
EJS 2.X.X dropped support for filters that are used extensively in the templates in this library. That makes this upgrade non-trivial but still do-able. Here is a comment that proposes a workaround / way to re-implement that missing functionality! It'll just require careful changes / making sure template works as expected after the upgrade.

Comment for workaround: https://github.com/mde/ejs/issue

[2018-01-17 10:55] lkappeler commented on #280
@virkt25
That's what I tried to do but I think I have messed up somewhere, in case you wan't to have a look: https://github.com/lkappeler/loopback-sdk-angular/commit/5c6afbc98a98c89dfd4e613b357824f8a7b2f6f1

[2018-01-18 14:06] bajtos commented on #280
@lkappeler the changes in your commit look reasonable to me, I don't see any obvious problems. Please not that we are using `JSON.stringify` as a way how to produce valid JavaScript strings, that's why the filter is called `q` as for "quote". I think your helper "toPrettyJson" would be better called "q" or "quotedString".

[2018-01-18 15:01] lkappeler commented on #280
@bajtos Changed the function name to "quotedString" (Originally renamed it since i could not figure out what q stands fore and the space option was set). Nevertheless my main problem is that the test are failing after I update ejs. I have basically no idea where to look for the error since it's complaining about a unexpected `:` in the code.

<details>
<pre>
legatore@ares:/wrk/loopback-sdk-angular

[2018-01-19 14:22] bajtos commented on #280
@lkappeler I see. Have you tried to use the linter proposed by the error message to see if it can find the error for you? If it doesn't help, then please open a pull request with the work you a have done so far, it will make it easier for me to run your update and push new changes to your feature branch if needed.

[2018-01-19 15:22] lkappeler commented on #280
@bajtos
Yes I did that but the linter does not give me any output
command: `./node_modules/.bin/ejslint lib/services.template.ejs`

Here is the PR: https://github.com/strongloop/loopback-sdk-angular/pull/282

[2018-01-19 17:44] luncht1me opened #283 "Relationships defined in Mixins don't generate Angular Services"
I have a little mixin that simply creates relationships between one model and the other (plus some supporting logic)

[code]

My API, explorer, server-side dot notations, client-side includes all work perfectly well. The relation is built as intended. It's just, my `lb-services.js` file doesn't have an interface to work with. So, say I had a model called `Sponsor` which `hasMany` `Image`, there's

[2018-01-20 03:48] NabinKhatiwada commented on #39
Hmm..this should work also..since this service is not required for other components,I added in the component itself. And that component I placed where ever required. Thank you :)

[2018-01-25 07:19] bajtos commented on #280
Fixed in `loopback-sdk-angular@3.3.0`

[2018-01-25 07:19] #280 closed

[2018-01-25 07:22] bajtos commented on #133
Considering recent development, where AngularJS 1.x have been superseded by Angular 2+, and LoopBack 2.x/3.x is going to be superseded by LoopBack 4 (a.k.a Next), I don't see how this will ever become a priority for us. I am closing this issue.

If there is anybody interested in making this happen, then I think the best option is to fork this repository and create a new npm package.

[2018-01-25 07:22] #133 closed

[2018-02-15 12:24] jashanbhullar commented on #74
Any updates on this? Any solid workarounds?

[2018-04-06 15:48] dhmlau commented on #260
Closing due to inactivity.

[2018-04-06 15:48] #260 closed

[2018-04-19 08:31] bajtos commented on #206
This is a quirk of Angular.js' ngResource API. See https://docs.angularjs.org/api/ngResource/service/$resource:

When you have a POST endpoint and invoke it with a single parameter, this parameter is interpreted by Angular.js as "postData".

The solution is to invoke you resource method with an empty postData body:

[code]

Since this is not the first time I noticed this problem, I think it would

[2018-04-19 08:34] bajtos commented on #195
Unfortunately we don't have bandwidth to implement this feature ourselves. Contributions are welcome though!

[2018-04-19 08:34] #195 closed

[2018-04-19 08:39] bajtos commented on #106
Hello! Back in 2016, we have implemented support for lazy connection setup, allowing the application to configure all datasources but letting the connectors to defer connecting until the first database request is made. See https://github.com/strongloop/loopback-datasource-juggler/issues/463#issuecomment-227155433 for more details.

The lazy mode can be triggered by setting the environment variable

[2018-04-19 08:40] bajtos commented on #115
Closing as fixed by #168.

[2018-04-19 08:40] #115 closed

[2018-04-19 08:41] bajtos commented on #120
Hello, I am afraid we don't have bandwidth to fix this issue.

[2018-04-19 08:41] #120 closed

[2018-04-19 08:41] #70 closed

[2018-04-19 08:43] bajtos commented on #24
This is no longer a feature we would like to pursue.

[2018-04-19 08:43] #24 closed

[2018-04-19 08:44] bajtos commented on #22
I am afraid we don't have bandwidth to implement this feature ourselves. Contributions are welcome though!

[2018-04-19 08:44] #22 closed

[2018-04-19 08:44] bajtos commented on #249
I am afraid we don't have bandwidth to implement this feature ourselves. Contributions are welcome though!

[2018-04-19 08:44] #249 closed

[2018-04-19 08:45] smehrbrodt commented on #22
Then just leave the issue open?

[2018-04-19 08:45] bajtos commented on #232
Possibly related: #22.

I am afraid we don't have bandwidth to implement this feature ourselves. Contributions are welcome though!

[2018-04-19 08:45] #232 closed

[2018-04-19 08:46] bajtos commented on #255
I am afraid we don't have bandwidth to implement this feature ourselves. Contributions are welcome though!

[2018-04-19 08:46] #255 closed

[2018-04-19 08:47] bajtos commented on #89
Looks like the discussion ended more than three years ago, I am closing the issue.

[2018-04-19 08:47] #89 closed

[2018-04-19 08:50] bajtos commented on #252
@dleute sorry for the long silence. Is this issue still relevant? Could you please create a small application based on our sandbox repo (see https://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report) that we can use to reproduce the problem?

[2018-04-19 08:50] bajtos commented on #266
Closing as we don't have bandwidth to implement this ourselves.

[2018-04-19 08:50] #266 closed

[2018-04-19 08:54] bajtos commented on #283
This looks like a missing feature to me! Would you like to contribute the implementation yourself, @luncht1me? I am happy to help you along the way.

[2018-04-19 08:55] bajtos commented on #39
Looks like this feature does not require any changes in our SDK - I am closing the issue as resolved.

[2018-04-19 08:55] #39 closed

[2018-04-19 08:57] bajtos commented on #74
I am afraid we don't have bandwidth to implement this feature ourselves. Contributions are welcome though!

[2018-04-19 08:57] #74 closed

[2018-04-19 09:00] bajtos commented on #22
We are trying to clean up our issue trackers to make them easier to work with. Having open issues that nobody is going to work on any time soon is too cumbersome. Since there was no activity in this issue for almost two years, it's pretty safe to assume there is nobody willing to contribute a pull request. We can always re-open if somebody comes with an offer to implement the necessary changes.

[2018-04-19 09:01] bajtos commented on #270
Hello @mbuster, is this issue still relevant? Could you please create a small application reproducing the issue (see our [Reporting issues](http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report) guidelines)?

[2018-04-19 09:30] proreact-mj commented on #187
I agree that both issues addresses the same core issue, but is it right to close it if it isn't fixed or none-issue and you are welcoming contributions? (no critique, just trying to understand the process)

[2018-04-19 09:37] proreact-mj commented on #124
Xpost from #187

reproduce project: https://github.com/proreact-mj/loopback-sandbox

Notes:
This does not seem to be an issue for ad hoc created models (cli), only in the models that where migrated from a MySQL DB with arc. Maybe there is something in the automatic [model].json definition that messes with the lb-ng functionality?

Also note that removing the belongsTo relation from the through-mod

[2018-04-19 13:28] adriatic commented on #147
Given that the this last response came 3 years after the original post, I would say that the your responsiveness is pretty typical for an IBM company.

[2018-04-26 22:09] satish1020 commented on #39
Can you please explain the fourth point and how is auto-logout.component.html page is there a git hub repository where I can view this code.